$color-twitter: #00aced;
$color-facebook: #3B5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-vimeo: #aad450;
$color-tumblr: #32506d;
$color-instagram: #517fa4;
$color-flickr: #ff0084;
$color-dribbble: #ea4c89;
$color-quora: #a82400;
$color-foursquare: #0072b1;
$color-forrst: #5B9A68;
$color-vk: #45668e;
$color-wordpress: #21759b;
$color-stumbleupon: #EB4823;
$color-yahoo: #7B0099;
$color-blogger: #fb8f3d;
$color-soundcloud: #ff3a00;