@charset "UTF-8";




////////////////////////////////////////////
//	SASS IMPORTS                          //
////////////////////////////////////////////
@import "compass";
@import "my-mixins";
@import "colors";




////////////////////////////////////////////
//	SASS VARIABLES                        //
////////////////////////////////////////////
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.75;
$base-line-height-em: 1.75em;
$container-width: 68.57142857142857em + ($base-line-height-em*2); // 68.57142857142857em;

$border-radius: $base-line-height-em/8;
$border-radius-square: 10%;

$box-shadow: 0 1px 1px rgba(0,0,0,0.075);
$box-shadow-inset: 0 1px 1px rgba(0,0,0,0.0375) inset;

$font-family: "PT Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$color-main: #E14D43; // #F5424E
$color-bg: #F7F7F7;
$color-text: #6D6D6D;
$color-heading: #2D2D2D;

$color-red: $color-main;
$color-green: #00de8b;
$color-yellow: #efc100;
$color-blue: #0070bc;
$color-silver: #CDCDCD;
$color-gray: #4D4D4D;

$animation: 0.2s linear;

// $font-size-h0: 48px;
// $font-size-h1: 36px;
// $font-size-h2: 24px;
// $font-size-h3: 21px;
// $font-size-h4: 18px;
// $font-size-h5: 16px;
// $font-size-h6: 14px;
// $font-size-h0-em: 3.42857em; 	// 48px*2
// $font-size-h1-em: 2.4em; 		// 36px
// $font-size-h2-em: 1.71429em; 	// 24px
// $font-size-h3-em: 1.5em; 		// 21px
// $font-size-h4-em: 1.28571em; 	// 18px
// $font-size-h5-em: 1.14286em; 	// 16px
// $font-size-h6-em: 1em; 			// 14px

// $font-size-h0: 36px;
// $font-size-h1: 24px;
// $font-size-h2: 21px;
// $font-size-h3: 18px;
// $font-size-h4: 16px;
// $font-size-h5: 14px;
// $font-size-h6: 12px;
// $font-size-h0-em: 2.4em; 		// 36px
// $font-size-h1-em: 1.71429em; 	// 24px
// $font-size-h2-em: 1.5em; 		// 21px
// $font-size-h3-em: 1.28571em; 	// 18px
// $font-size-h4-em: 1.14286em; 	// 16px
// $font-size-h5-em: 1em; 			// 14px
// $font-size-h6-em: 0.85714em; 	// 12px

$font-size-h0: 24px;
$font-size-h1: 21px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 11px;
$font-size-h0-em: 1.71429em; // 2em; 28px // 1.71429em; 24px
$font-size-h1-em: 1.5em; 		// 21px
$font-size-h2-em: 1.28571em; 	// 18px
$font-size-h3-em: 1.14286em; 	// 16px
$font-size-h4-em: 1em; 			// 14px
$font-size-h5-em: 0.85714em; 	// 12px
$font-size-h6-em: 0.78571em; 	// 11px

$font-size-smaller: 9px;
$font-size-small: 11px;
$font-size: $base-font-size;
$font-size-large: 18px;
$font-size-larger: 24px;

$font-size-smaller-em: 0.64286em;
$font-size-small-em: 0.78571em;
$font-size-em: 1em;
$font-size-large-em: 1.28571em;
$font-size-larger-em: 1.71429em;




/*
Theme Name: Blogpost
Theme URI: http://themeforest.net/user/BhushanPatil/?ref=BhushanPatil
Author: Bhushan Patil
Description: The Blogpost theme for WordPress featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
Tags: black, red, pink, orange, white, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, rtl-language-support, translation-ready
Text Domain: blogpost

Note : CSS generated by COMPASS
*/


/**
 * ============================================================================
 *
 *	Table of Contents:
 *	
 *	1.0 - Reset and Base HTML Styles
 *		1.1 - HTML & Body
 *		1.2 - Links
 *		1.3 - Headings
 *		1.4 - Typography Tags
 *		1.5 - Blockquotes
 *		1.6 - Lists (Definition, Unordered and Ordered)
 *		1.7 - Image, Audio, Video, etc
 *		1.8 - Forms
 *		1.9 - Tables
 *
 *	2.0 - Repeatable Classes/Patterns
 * 		2.1 - Shorthand Classes
 *		2.2 - Grid System
 *		2.3 - Buttons
 *		2.4 - Icons
 *		2.5 - Flexslider
 *		2.6 - Search Form
 *
 *	3.0 - Site Header
 *		3.1 - Logo
 *		3.2 - Site Tagline
 *		3.3 - Social Links
 *		3.4 - Navigation Menu
 * 		3.5 - Search Box
 *
 *	4.0 - Site Main Content
 *		4.1 - Breadcrumbs
 *		4.2 - Post Entry
 *			4.2.1 - Post Featured Image
 *			4.2.2 - Post Title
 *			4.2.3 - Post Meta
 *			4.2.4 - Post Content
 * 			4.2.5 - Post Tags
 * 			4.2.6 - Post Share
 *			4.2.7 - Post Formats
 *			4.2.8 - Post Images
 *			4.2.9 - Post Audio/Videos
 *			4.2.10 - Galleries
 *			4.2.11 - JS Slider
 *			4.2.12 - Attachments
 *		4.3 - Author Bio
 *		4.4 - Comments
 *		4.5 - Paging/Post Navigation
 *		4.6 - Pages
 *			4.6.1 - Nothing Found Page
 *			4.6.2 - 404 Page
 *			4.6.3 - Login Page
 *			4.6.4 - Archives Page
 *		4.7 - Widgets
 * 			4.7.1 - Footer Widgets
 *
 *	7.0 - Site Footer
 *
 *	8.0 - Media Queries
 *
 *	9.0 - Retina specific styles
 *
 * ============================================================================
 * ----------------------------------------------------------------------------
 */




/**
 * ============================================================================
 * 1.0 Reset and Base HTML Styles
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
*, *:before, *:after { @include box-sizing(border-box); }
article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }
[hidden] { display: none; }

/**
 * 1.1 HTML & Body
 * ----------------------------------------------------------------------------
 */
// @include establish-baseline();
body {

	font-family: $font-family;
	font-weight: 300;
	font-size: $font-size;
	line-height: 1.75;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	background-color: $color-bg;
	color: $color-text;
	margin: 0;
	min-width: 320px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	// overflow:hidden;
}
/* Selected element styling */
::-moz-selection { background: $color-main; color: #FFF; }
::selection { background: $color-main; color: #FFF; }

/**
 * 1.2 Links
 * ----------------------------------------------------------------------------
 */
a {
	color: $color-main;
	text-decoration: none;
	@include transition(background $animation,color $animation,opacity $animation,border $animation,box-shadow $animation,text-shadow $animation);
	&:focus, &:active, &:hover { color: $color-main; }
}

/**
 * 1.3 Headings
 * ----------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: $color-heading;
	font-weight: bold;
}
h1 { @include font-size($font-size-h1); }
h2 { @include font-size($font-size-h2); }
h3 { @include font-size($font-size-h3); }
h4 { @include font-size($font-size-h4); }
h5 { @include font-size($font-size-h5); }
h6 { @include font-size($font-size-h6); }

/**
 * 1.4 Typography Tags
 * ----------------------------------------------------------------------------
 */
address { font-style: italic; margin-bottom: $base-line-height-em; &:last-child { margin-bottom: 0; } }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; b, strong { font-weight: 900; } }
small { @include font-size($font-size-small); }
i, dfn { font-style: italic; }
mark { background: #fdf485; color: inherit; }
p {
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
	@include hyphens(none);
}
kbd {
	@include font-size($font-size-small);
	display: inline-block;
	padding: 0 $base-line-height-em/2.5;
	text-align: center;
	background: #f7f7f7;
	color: $color-text;
	border: 1px solid #CDCDCD;
	@include border-radius($border-radius);
	@include box-shadow(0 $base-line-height-em/8 0 rgba(0,0,0,0.2), 0 0 0 $base-line-height-em/8 #FFF inset);
}
pre {
	width: auto;
	padding: $base-line-height-em;
	@include box(#FEFEFE,$border-radius);
	border: 1px solid #F7F7F7;
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
ins {
	text-decoration: none;
	border-bottom: 1px solid #47ad09;
	// &[cite]:after {
	// 	content: "\a0(" attr(cite) ")";
	//  @include font-size($font-size-small);
	// 	color: #ADADAD;
	// 	border-bottom: 1px solid #FFF;
	// }
}
sub, sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
hr {
	border: 0;
	border-bottom: 1px dotted $color-text;
	border-bottom: $base-line-height-em/4 solid rgba(0,0,0,0.0125);
	margin: $base-line-height-em 0;
}
.dropcap:first-letter {
	float: left;
	// font-size: 3.4375em;
	font-size: 3.5em;
	line-height: 0.96875;
	padding-right: .125em;
	text-transform: uppercase;
}

/**
 * 1.5 Blockquotes
 * ----------------------------------------------------------------------------
 */
q {
	quotes: "\201C" "\201D" "\2018" "\2019"; // "“" "”" "‘" "’"
	&:before { content: open-quote; }
	&:after { content: close-quote; }
}
blockquote, q {
	@include hyphens(none);
}
blockquote {
	border-left: $base-line-height-em/4 solid $color-main;
	padding-left: $base-line-height-em/1.5;
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	cite {
		font-style: italic;
		text-align: right;
		display: block;
		color: #ADADAD;
	}
}

/**
 * 1.6 Lists (Definition, Unordered and Ordered)
 * ----------------------------------------------------------------------------
 */
dl {
	margin: 0 0 $base-line-height-em $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
dt { font-weight: bold; }
dd {
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
ol, ul {
	padding: 0 0 0 $base-line-height-em;
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	ul, ol {
		margin-bottom: 0;
		padding-left: $base-line-height-em*2;
	}
	&.disc { list-style-type: disc; }
	&.armenian { list-style-type: armenian; }
	&.circle { list-style-type: circle; }
	&.cjk-ideographic { list-style-type: cjk-ideographic; }
	&.decimal { list-style-type: decimal; }
	&.decimal-leading-zero { list-style-type: decimal-leading-zero; }
	&.georgian { list-style-type: georgian; }
	&.hebrew { list-style-type: hebrew; }
	&.hiragana { list-style-type: hiragana; }
	&.hiragana-iroha { list-style-type: hiragana-iroha; }
	&.katakana { list-style-type: katakana; }
	&.katakana-iroha { list-style-type: katakana-iroha; }
	&.lower-alpha { list-style-type: lower-alpha; }
	&.lower-greek { list-style-type: lower-greek; }
	&.lower-latin { list-style-type: lower-latin; }
	&.lower-roman { list-style-type: lower-roman; }
	&.none, &.no-style { list-style-type: none; }
	&.square { list-style-type: square; }
	&.upper-alpha { list-style-type: upper-alpha; }
	&.upper-latin { list-style-type: upper-latin; }
	&.upper-roman { list-style-type: upper-roman; }
	&.inside { padding-left: 0; list-style-position: inside; }
	&.inline {
		display: inline-block;
		margin-left: 0;
		@include cf;
		> li {
			float: left;
			display: list-item;
			list-style-position: inside;
			margin-right: $base-line-height-em/2;
			&:last-child { margin-right: 0; }
		}
	}
}
ul { list-style-type: disc; }

/**
 * 1.7 Image, Audio, Video, etc
 * ----------------------------------------------------------------------------
 */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	height: auto;
	width: auto;
	max-width: 100%;
	color: #CDCDCD;
	font-weight: bold;
}
svg:not(:root) { overflow: hidden; }
figure {
	margin: 0;
	position: relative;
	figcaption {
		line-height: 2;
		padding: 0 $base-line-height-em/2;
		background: #2D2D2D;
		background: rgba(0,0,0,0.75);
		color: #FFF;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
audio:not([controls]) {
	display: none;
	height: 0;
}
audio, canvas, video { display: inline-block; }

/**
 * 1.8 Forms
 * ----------------------------------------------------------------------------
 */
form {
	margin: 0 0 $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	.required { color: $color-main; }
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
legend {
	border: 0;
	margin: $base-line-height-em 0;
	padding: 0;
	display: block;
	width: 100%;
	font-weight: bold;
	color: #ADADAD;
	border-bottom: 1px solid #ADADAD;
}
label {
	font-weight: bold;
	padding: $base-line-height-em/4 $base-line-height-em/3 $base-line-height-em/4 0;
	line-height: normal;
	display: inline-block;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	+ label { padding: 0 0 0 $base-line-height-em/3; }
}
input, button { -webkit-font-smoothing: antialiased; }
select, input[type="email"], input[type="file"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], textarea {
	color: $color-text;
	padding: $base-line-height-em/4 $base-line-height-em/3;
	// padding: 0.375em 0.5em;
	line-height: normal;
	&:focus { outline: 0; }
}
select, input[type="email"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], textarea {
	border: 1px solid #DDD;
	@include box(#EDEDED,$border-radius,$box-shadow-inset);
	@include transition(border $animation, background $animation);
	&:focus { border-color: #CDCDCD; background: #FDFDFD; }
}
textarea {
	overflow: auto;
	vertical-align: top;
	line-height: 1.5;
	padding: $base-line-height-em/2.5 $base-line-height-em/2;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button, input {
	line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="email"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], textarea {
	&[disabled], &:disabled {
		cursor: default;
		background: #EDEDED;
		@include opacity(.5);
	}
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
::-webkit-input-placeholder { color: #ADADAD; }
:-moz-placeholder { color: #ADADAD; }
::-moz-placeholder { color: #ADADAD; }
:-ms-input-placeholder { color: #ADADAD; }

/**
 * 1.9 Tables
 * ----------------------------------------------------------------------------
 */
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
caption {
	text-align: center;
	margin: $base-line-height-em/2 0;
}
th, td {
	font-weight: normal;
	text-align: left;
	padding: $base-line-height-em/4 $base-line-height-em/2;
	&:last-child { padding-right: 0; }
	&:first-child { padding-left: 0; }
}
th {
	font-weight: bold;
	border-bottom: $base-line-height-em/8 solid $color-text;
}
td { border-bottom: 1px solid #ADADAD; }
tfoot {
	tr {
		&:first-child { td { border-top: $base-line-height-em/8 solid $color-text;  } }
		&:last-child { td { border-bottom: 0; } }
	}
}




/**
 * ============================================================================
 * 2.0 Repeatable Classes/Patterns
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
.block {
	width: 100%;
	display: block;
}

/**
 * 2.1 Shorthand Classes
 * ----------------------------------------------------------------------------
 */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }
.b { font-weight: bold; }
.i { font-style: italic; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.h1 { font-size: $font-size-h1-em; }
.h2 { font-size: $font-size-h2-em; }
.h3 { font-size: $font-size-h3-em; }
.h4 { font-size: $font-size-h4-em; }
.h5 { font-size: $font-size-h5-em; }
.h6 { font-size: $font-size-h6-em; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }
.hide { display: none; }
.show { display: block; }
.no-events { cursor: default; pointer-events: none; }
.disabled { cursor: default; pointer-events: none; @include opacity(0.5); }

/**
 * 2.2 Grid System
 * ----------------------------------------------------------------------------
 */
.grid-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: $base-line-height-em/2;
	padding-right: $base-line-height-em/2;
	width: $container-width;
	@include cf;
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 { padding-left: $base-line-height-em/2; padding-right: $base-line-height-em/2; }
}
.responsive .grid-container { width: 100%; max-width: $container-width; }
.row {
	@include cf;
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 	{ float: left; }

.col-1 		{ width: 8.333333333333332%; }
.col-2 		{ width: 16.666666666666664%; }
.col-3 		{ width: 25%; }
.col-4 		{ width: 33.33333333333333%; }
.col-5 		{ width: 41.66666666666667%; }
.col-6 		{ width: 50%; }
.col-7 		{ width: 58.333333333333336%; }
.col-8 		{ width: 66.66666666666666%; }
.col-9 		{ width: 75%; }
.col-10 	{ width: 83.33333333333334%; }
.col-11 	{ width: 91.66666666666666%; }
.col-12 	{ width: 100%; }

.push-1 	{ margin-left: 8.333333333333332%; }
.push-2 	{ margin-left: 16.666666666666664%; }
.push-3 	{ margin-left: 25%; }
.push-4 	{ margin-left: 33.33333333333333%; }
.push-5 	{ margin-left: 41.66666666666667%; }
.push-6 	{ margin-left: 50%; }
.push-7 	{ margin-left: 58.333333333333336%; }
.push-8 	{ margin-left: 66.66666666666666%; }
.push-9 	{ margin-left: 75%; }
.push-10 	{ margin-left: 83.33333333333334%; }
.push-11 	{ margin-left: 91.66666666666666%; }

.pull-1 	{ margin-right: 8.333333333333332%; }
.pull-2 	{ margin-right: 16.666666666666664%; }
.pull-3 	{ margin-right: 25%; }
.pull-4 	{ margin-right: 33.33333333333333%; }
.pull-5 	{ margin-right: 41.66666666666667%; }
.pull-6 	{ margin-right: 50%; }
.pull-7 	{ margin-right: 58.333333333333336%; }
.pull-8 	{ margin-right: 66.66666666666666%; }
.pull-9 	{ margin-right: 75%; }
.pull-10 	{ margin-right: 83.33333333333334%; }
.pull-11 	{ margin-right: 91.66666666666666%; }

/**
 * 2.3 Buttons
 * ----------------------------------------------------------------------------
 */
@mixin button-color(
	$background,
	$background_hover: lighten($background,(100% - lightness($background))/10),
	$background_active: darken($background,lightness($background)/10),
	$color: contrast-color( $background, $color-text, #FFF, 75% ),
	$color_hover: contrast-color( $background_hover, $color-text, #FFF, 75% ),
	$color_active: contrast-color( $background_active, $color-text, #FFF, 75% )
	) {

	background: $background;
	border-color: darken($background,lightness($background)/5);
	border-top-color: darken($background,lightness($background)/10);
	color: $color;

	&.transparent {
		background: transparent;
		color: $background;
		border-color: $background;
	}
	&:focus, &:hover, &.focus, &.hover {
		background: $background_hover;
		border-color: darken($background_hover,lightness($background_hover)/7.5);
		color: $color_hover;
	}
	&:active, &.active {
		background: $background_active;
		border-color: darken($background_active,lightness($background_active)/15);
		border-top-color: darken($background_active,lightness($background_active)/5);
		color: $color_active;
	}
	&[disabled], &:disabled, &.disabled { background: $background; color: $color; }
}
.button, button, input[type="submit"], input[type="button"], input[type="reset"] {
 	border: 0;
 	margin: 0;
 	padding: $base-line-height-em/4 $base-line-height-em/2;
 	line-height: normal;
 	border-width: 1px;
 	border-style: solid;
 	display: inline-block;
 	@include border-radius($border-radius);
 	@include transition(all $animation);
 	&:focus, &.focus { outline: 0; }
 	 @include box-shadow(0 1px 1px rgba(0,0,0,0.1));
 	&:focus, &:hover, &.focus, &.hover { @include box-shadow(0 1px 1px rgba(0,0,0,0.2)); }
 	&:active, &.active { @include box-shadow(none); }
 	@include button-color(#4D4D4D,lighten($color-main,(100% - lightness($color-main))/10),darken($color-main,lightness($color-main)/10));
 	&[disabled], &:disabled, &.disabled {
 		pointer-events: none;
 		cursor: default;
 		@include opacity(.5);
 	}

 	&.no-events { pointer-events: none; cursor: default; }

 	&.rounded { padding: $base-line-height-em/4 $base-line-height-em/1.5; @include border-radius(5em); }

 	&.smaller { font-size: $font-size-smaller-em; }
 	&.small { font-size: $font-size-small-em; }
 	&.large { font-size: $font-size-large-em; }
 	&.larger { font-size: $font-size-larger-em; }

 	&.main-color { @include button-color($color-main); }
 	&.black { @include button-color(#1D1D1D); }
 	&.gray { @include button-color(#8D8D8D); }
 	&.silver { @include button-color(#EDEDED); }
 	&.off-white { @include button-color(#F7F7F7); }
 	&.white { @include button-color(#FFF); }
 	&.red { @include button-color(#d9534f); } // #d9534f
 	&.green { @include button-color(#5cb85c); }
 	&.blue { @include button-color(#428bca); }
 	&.yellow { @include button-color(#f0ad4e); }
 	&.purple { @include button-color(#6f5499); }

 	&.transparent, &.transparent-black {
 		background: transparent;
 		color: $color-text;
 		border-color: $color-text;
 	}
 	&.transparent-white {
 		background: transparent;
 		color: #FFF;
 		border-color: #FFF;
 	}

 	&.hover-default {
 		&:focus, &:hover, &.focus, &.hover {
 			background: lighten($color-main,(100% - lightness($color-main))/10) !important;
 			border-color: darken(lighten($color-main,(100% - lightness($color-main))/10),lightness(lighten($color-main,(100% - lightness($color-main))/10))/7.5) !important;
 			color: contrast-color( lighten($color-main,(100% - lightness($color-main))/10), $color-text, #FFF, 75% ) !important;
 		}
 		&:active, &.active {
 			background: darken($color-main,lightness($color-main)/10) !important;
 			border-color: darken(darken($color-main,lightness($color-main)/10),lightness(darken($color-main,lightness($color-main)/10))/15) !important;
 			border-top-color: darken(darken($color-main,lightness($color-main)/10),lightness(darken($color-main,lightness($color-main)/10))/5) !important;
 			color: contrast-color( darken($color-main,lightness($color-main)/10), $color-text, #FFF, 75% ) !important;
 		}
 	}
}

/**
 * 2.4 Icons
 * ----------------------------------------------------------------------------
 */
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/spinning";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

/**
 * 2.5 Flexslider
 * ----------------------------------------------------------------------------
 */
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-control-nav, .flex-direction-nav {
	a {
		&:hover { border-bottom: 0; }
		&:active, &:focus { outline: none; }
	}
}
.flexslider {
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	position: relative;
	@include transition(background .05s linear);
	@include box-shadow($box-shadow);
	&.loading {
		min-height: $base-line-height-em*12;
		background: #1D1D1D url("images/loader.gif") center center no-repeat;
	}
	.slides {
		> li {
			display: none;
			-webkit-backface-visibility: hidden;
		}
		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
		.slide-post {
			background: #1D1D1D;
			color: #8D8D8D;
			position: relative;
			@include cf;
			.slide-post-image {
				@include float-left;
				width: 66.66666666666666%;
				img { width: 100%; }
			}
			.slide-post-info {
				@include float-right;
				width: 33.33333333333333%;
				position: absolute;
				bottom: 0;
				height: 100%;
				padding: $base-line-height-em;
				// border-left: $base-line-height-em/4 solid $color-main;
				z-index: 1;
				&:after {
					content: "";
					position: absolute;
					top: 0; 
					bottom: 0;
					width: $base-line-height-em/4;
					left: -$base-line-height-em/4;
					background: $color-main;
					z-index: -1;
				}
				&:before {
					content: "";
					position: absolute;
					top: $base-line-height-em/1.25;
					left: -$base-line-height-em/1.5; // 1.18752
					border: $base-line-height-em/2 solid transparent;
					border-right: $base-line-height-em/2 solid $color-main;
					border-left: 0;
				}
				.slide-post-title {
					word-wrap: break-word;
					margin-bottom: $base-line-height-em/2;
					h1 {
						font-size: 1.14286em; // 16px
						line-height: 1.5;
						margin-top: -0.25em;
					}
					a { color: #FFF;  border-bottom: 0; &:hover { color: $color-main; } }
				}
				.slide-post-content { margin-bottom: $base-line-height-em/2; }
				.slide-post-meta {
					color: #666;
					a { color: #666; &:hover { color: $color-main; } }
				}
			}
		}
	}
	.flex-direction-nav {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 10;
		li { @include float-left; }
		a {
			display: block;
			text-align: center;
			background: #3D3D3D;
			color: #FFF;
			line-height: 2;
			height: 2em;
			width: 2em;
			border-bottom: 0;
			&:focus, &:hover, &:active { background: $color-main; color: #FFF; }
		}
		.flex-disabled {
			@include opacity(.5);
			cursor: default;
			pointer-events: none;
		}
	}
	.flex-control-nav {
		width: 100%;
		position: absolute;
		bottom: 0;
		text-align: center;
		z-index: 9;
		padding: 0 $base-line-height-em;
		li {
			margin: 0 $base-line-height-em/6;
			display: inline-block;
			&:last-child{ margin-right: 0; }
			&:first-child{ margin-left: 0; }
		}
		&.flex-control-paging {
			li {
				height: $base-line-height-em*0.625;
				a {
					width: $base-line-height-em/2;
					height: $base-line-height-em/2;
					display: block;
					background: #6D6D6D;
					background: rgba(0,0,0,0.2);
					border: 3px solid rgba(0,0,0,0.4);
					color: transparent;
					line-height: 1;
					cursor: pointer;
					text-indent: -9999px;
					@include border-radius(50%);
					&:hover, &.flex-active {
						background: #0D0D0D;
						background: rgba(0,0,0,0.8);			
					}
					&.flex-active { cursor: default; }
				}
			}
		}
	}
}

/**
 * 2.6 Search Form
 * ----------------------------------------------------------------------------
 */
.search-form {
	@include cf;
	.search-input {
		float: left;
		width: 80%;
	}
	.search-button {
		float: right;
		width: 17.5%;
	}
}



/**
 * ============================================================================
 * 3.0 Site Header
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
#site-header {
	@include box(#0D0D0D,null,0 1px 1px rgba(0,0,0,.5));
	#topbar { padding: $base-line-height-em 0; }
 	#navbar { @include box(#1D1D1D); }
}

/**
 * 3.1 Logo
 * ----------------------------------------------------------------------------
 */
#logo {
	@include float-left;
	color: #FFF;
	a { color: #FFF; border-bottom: 0; }
	&.text h1 { @include font-size($font-size-h0,1); }
	&.image {
		margin: -$base-line-height-em 0;
		h1 { @include font-size($font-size,1);  }
		img { height: $base-line-height-em*3; vertical-align: bottom; }
	}
}

/**
 * 3.2 Site Tagline
 * ----------------------------------------------------------------------------
 */
#tagline {
	@include float-left;
	h2 {
		@include font-size($font-size,1);
		font-family: $font-family;
		font-weight: normal;
		color: #5D5D5D;
		font-style: italic;
		margin-left: $base-line-height-em;

	}
}

/**
 * 3.3 Social Links
 * ----------------------------------------------------------------------------
 */
#social-links {
	@include float-right;
	@include box(#1D1D1D,null,$box-shadow);
	padding: $base-line-height-em/8 $base-line-height-em/4;
	margin: -$base-line-height-em/8 0;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include cf;
		li {
			@include float-left;
			margin: 0 $base-line-height-em/4;
		}
	}
	a {
		display: inline-block;
		text-align: center;
		color: #4D4D4D;
		border-bottom: 0;
		font-size: 1.14286em;
		line-height: 1;
		&:hover { color: #FFF; }
	}
}

/**
 * 3.4 Navigation Menu
 * ----------------------------------------------------------------------------
 */
#main-menu.desktop > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	@include cf;
	> li {
		@include float-left;
		@include transition(background $animation, box-shadow $animation);
		> a {
			display: inline-block;
			padding: 0 $base-line-height-em/1.5;
			line-height: $base-line-height-em*2;
			color: #8D8D8D;
			&:hover { color: #FFF; }
		}
		&:hover {
			background: rgba(255,255,255,.05);
			@include box-shadow(inset 0 (-$base-line-height-em/9) 0 0 $color-main);
		}
		&.current_page_item, &.current_page_parent, &.current_page_ancestor {
			@include box-shadow(inset 0 (-$base-line-height-em/9) 0 0 $color-main);
		}
	}
	ul {
		position: absolute;
		top: -99999px;
		left: 0;
		visibility: none;
		padding: $base-line-height-em/4 0 0;
		min-width: $base-line-height-em*4;
		z-index: 999;
		@include opacity(0);
		@include transition(opacity $animation);
		&:before {
			content: "";
			border: $base-line-height-em/3 solid transparent;
			border-top: 0;
			border-bottom-color: #2D2D2D;
			position: absolute;
			top: 0;
			left: $base-line-height-em/2;
		}
		ul {
			left: 100%;
			padding: 0 0 0 $base-line-height-em/4;
			&:before { display: none; }
		}
	}
	li {
		position: relative;
		white-space: nowrap;
		&.fa {
			> a { font-family: $font-family; }
			&:before { display: none; }
		}
		a { .fa { @include opacity(.8); } }
		&.menu-item-has-children {
			> a { padding-right: $base-line-height-em*1.25; }
			.toggle-sub-menu {
				color: #6D6D6D;
				position: absolute;
				top: 0;
				right: $base-line-height-em/1.5;
				line-height: $base-line-height-em*2;
				@include transition(color $animation);
				&:hover { cursor: pointer; }
			}
		}
		&.current_page_item, &.current_page_parent, &.current_page_ancestor {
			> a {
				background: rgba(255,255,255,.05);
				// font-weight: bold;
				color: #FFF;
			}
			&.menu-item-has-children > .toggle-sub-menu { color: #FFF; }
		}
		li {
			@include box(#2D2D2D,null,0 1px 1px rgba(0,0,0,0.5));
			display: block;
			position: relative;
			a {
				display: block;
				color: #8D8D8D;
				padding: 0 $base-line-height-em/1.5;
				line-height: $base-line-height-em*1.5;
				&:hover { background: $color-main; }
			}
			&.menu-item-has-children {
				> a { padding-right: $base-line-height-em*1.5; }
				.toggle-sub-menu {
					position: absolute;
					right: $base-line-height-em/1.5;
					line-height: $base-line-height-em*1.5;
					&:before { content: '\f105'; }
				}
			}
			&:first-child {
				padding-top: $base-line-height-em/3;
				&.menu-item-has-children .toggle-sub-menu { padding-top: $base-line-height-em/3; }
			}
			&:last-child { padding-bottom: $base-line-height-em/3; }
			&:hover { > a { background: $color-main; } }
			&:hover {
				> ul { top: -$base-line-height-em/3; }
				&:first-child > ul { top: 0; }
			}
		}
		&:hover {
			> a, > .toggle-sub-menu { color: #FFF; }
			> ul {
				top: 100%;
				visibility: visible;
				@include opacity(1);
			}
		}
	}
}
#toggle-nav { display: none; }

/**
 * 3.5 Search Box
 * ----------------------------------------------------------------------------
 */
#navbar .search-form {
 	position: relative;
 	input, button {
 		position: absolute;
 		top: $base-line-height-em/2.5;
 	}
 	input {
 		left: 0;
 		width: 83.33333333333333%;
 		// border-color: #FFF;
 		@include box(null,$border-radius 0 0 $border-radius,none);
 		&:focus { border-color: #FFF; }
 	}
 	button {
 		right: 0;
 		width: 16.66666666666666%;
 		padding-left: 0;
 		padding-right: 0;
 		@include border-radius(0 $border-radius $border-radius 0);
 		border-color: transparent;
 	}
}

/**
 * ============================================================================
 * 4.0 Site Main Content
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
#site-content {
	@include background-image(linear-gradient(rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 12em));
	#content-header {
		background: #E7E7E7;
		@include box-shadow(0 1px 1px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.5) inset);
	}
	#primary-content, #sidebar {
		padding-top: $base-line-height-em;
		padding-bottom: $base-line-height-em;
	}
	#content-footer {
		background: #E7E7E7;
		@include box-shadow(0 1px 1px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.075) inset);
	}
}

/**
 * 4.1 Breadcrumbs
 * ----------------------------------------------------------------------------
 */
#breadcrumbs {
	@include cf;
	#breadcrumbs-links {
		float: left;
		display: inline-block;
		@include font-size($font-size,2);
		h1 {
			display: inline-block;
			color: $color-text;
			@include font-size($font-size-h3,1,$font-size);
		}
	}
	#breadcrumbs-post-count {
		float: right;
		display: inline-block;
		@include font-size($font-size,2);
		span {
			display: inline-block;
			padding: 0 $base-line-height-em/2;
			@include font-size($font-size-h5,1.25,$font-size);
			font-weight: bold;
			@include box(#2D2D2D,$border-radius,$box-shadow-inset);
			color: #ADADAD;
			text-align: center;
			white-space: nowrap;
		}
	}
}

/**
 * 4.2 Post Entry
 * ----------------------------------------------------------------------------
 */
#post-entries {
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}
.hentry {
	@include box(#FFF,null,$box-shadow);
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	position: relative;
	.entry-header {
		word-wrap: break-word;
		padding: $base-line-height-em $base-line-height-em*2 0;
		&:first-child {
			padding-top: $base-line-height-em*2;
			.entry-title { padding-top: 0; }
			.entry-meta:only-child { padding-bottom: $base-line-height-em; }
		}
		&:last-child { padding-bottom: $base-line-height-em; }
		.entry-title { padding-top: $base-line-height-em; }
		.entry-meta { padding-bottom: $base-line-height-em; &:only-child { padding-bottom: 0; } }
	}
	.entry-content {
		position: relative;
		@include hyphens(auto);
		word-wrap: break-word;
		padding: 0 $base-line-height-em*2;
		&:first-child { padding-top: $base-line-height-em*2; }
		&:last-child { padding-bottom: $base-line-height-em*2; }
		@include cf;
	}
	.entry-footer {}
	.entry-thumbnail + .entry-header:last-child {
		.entry-title { padding-top: $base-line-height-em/2; }
		.entry-title  + .entry-meta { padding-bottom: $base-line-height-em/2; }
	}
	.entry-thumbnail + .entry-content { padding-top: $base-line-height-em*2; }
	.entry-content + .entry-footer { margin-top: $base-line-height-em*2; }
	.entry-header + .entry-footer { margin-top: $base-line-height-em; }
}

/**
 * 4.2.1 Post Featured Image
 */
.entry-thumbnail {
	a, img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	a {
		background: #FFF;
		img { @include transition(opacity $animation); }
		&:hover img { @include opacity(0.8); }
	}
}

/**
 * 4.2.2 Post Title
 */
.entry-title {
	h1 {
		@include font-size($font-size-h0,1.5);
		margin-top: -0.25em;
	}
	a {
		color: $color-heading;
		&:focus, &:active, &:hover { color: $color-main; }
	}
}

/**
 * 4.2.3 Post Meta
 */
.entry-meta {
	color: #CDCDCD;
	> span {
		margin-right: $base-line-height-em/2;
		&:last-child { margin-right: 0; }
		.fa { color: #DDD; @include transition(color $animation); }
		.seprator { color: #CDCDCD; }
		a {
			color: #CDCDCD;
			&:hover { color: $color-text; .fa { color: $color-text; } }
		}
		// &:hover { color: $color-text; .fa { color: $color-text; } }
		&.categories-links, &.tags-links {
			&:hover { color: $color-text; .fa { color: $color-text; } }
			.fa:hover ~ a { color: $color-text; }
		}
		&.sticky-post { color: #CDCDCD; .fa { color: #DDD; } }
 		// &:before { content: "\a0\2022\a0"; @include opacity(.4); }
 		// &:first-child { &:before { content: none; } }
 		// &.edit-link {
 		// 	position: absolute;
 		// 	top: 0;
 		// 	right: 0;
 		// 	&:before { content: none; }
 		// 	a {
 		// 		display: inline-block;
 		// 		padding: $base-line-height-em/8 $base-line-height-em/2;
 		// 		text-align: center;
 		// 		@include box($color-main, 0 0 0 $border-radius);
 		// 		color: #FFF;
 		// 		border-bottom: 0;
 		// 	}
 		// }
 	}
}

/**
 * 4.2.4 Post Content
 */
.entry-content {
	a:not(.button) { &:active, &:hover { border-bottom: 1px solid; } }
	// h1, h2, h3, h4, h5, h6 { font-weight: normal; color: $color-text; }
	.more-link { font-weight: bold; }
	.post-password-form {
		@include box(#FDFDFD,$border-radius,$box-shadow-inset);
		padding: $base-line-height-em;
		label {
			padding: 0;
			margin-bottom: $base-line-height-em/2;
			font-weight: bold;
			input[type="password"] {
				display: block;
				// margin-left: $base-line-height-em/2;
			}
		}
		input[type="submit"] {
			display: block;
		}
	}
}

/**
 * 4.2.5 Post Tags
 */
.entry-tags {
	.tags-label-text {
		font-weight: bold;
		color: #8D8D8D;
		// display: none;
	}
	a {
		@include float-left;
		margin-bottom: 2px;
		margin-right: 2px;
		background: $color-gray;
		border: 1px solid $color-gray;
		color: #FFF;
		text-transform: capitalize;
		padding: 0 $base-line-height-em/4;
		@include font-size($font-size-h6,0.75);
		text-decoration: none;
		@include border-radius($border-radius);
		&:focus, &:hover, &:active {
			border-color: $color-main;
			background: $color-main;
			color: #FFF;
		}
	}
}

/**
 * 4.2.6 Post Share
 */
.post-share1 {
	overflow: hidden;
	word-wrap: break-word;
	padding: $base-line-height-em/4 $base-line-height-em*2;
	background: #FDFDFD;
	border-top: 1px solid #F7F7F7;
	.share-label-text {
		font-weight: bold;
		margin-right: $base-line-height-em/3;
		color: #8D8D8D;
	}
	a {
		@include font-size($font-size-h2,1);
		@include opacity(.5);
		&:active, &:hover { color: $color-main; @include opacity(1); }
		margin-right: $base-line-height-em/6;
		&:last-child { margin-right: 0; }
		&.facebook-share-link { color: $color-facebook; }
		&.twitter-share-link { color: $color-twitter; }
		&.google-plus-share-link { color: $color-googleplus; }
		&.pinterest-share-link { color: $color-pinterest; }
	}
}
.post-share {
	// margin: 0 $base-line-height-em;
	margin-top: -$base-line-height-em;
	margin-bottom: $base-line-height-em;
	padding: $base-line-height-em/2 $base-line-height-em*2;
	background: rgba(0,0,0,.025);
	&:last-child { margin-bottom: 0; }
	.share-label-text {
		font-weight: bold;
		margin-right: $base-line-height-em/3;
		color: $color-text;
		margin-right: $base-line-height-em/2;
	}
	a {
		font-weight: bold;
		color: $color-text;
		&:active, &:hover { color: $color-main; }
		margin-right: $base-line-height-em/2;
		&:last-child { margin-right: 0; }
	}
}

/**
 * 4.2.7 Post Formats
 */
.format-aside, .format-chat, .format-link, .format-quote, .format-status {
	.entry-content { padding: $base-line-height-em*2 $base-line-height-em*2 0; }
	.entry-footer {
		padding: 0 $base-line-height-em*2 $base-line-height-em*2;
		background: transparent;
		border-top: 0;
	}
	.entry-content + .entry-footer { margin-top: $base-line-height-em; }
}

/* Aside */
.format-aside {
	.entry-content {
		padding-top: 0;
	}
}

/* Image */
.format-image {
	.entry-thumbnail {
		.wp-caption {
			position: relative;
		    text-align: left;
		    margin-bottom: 0;
		    .wp-caption-text {
			    background: rgb(29,29,29);
			    background: rgba(29,29,29,0.75);
			    color: #FFFFFF;
			    padding: $base-line-height-em/4 $base-line-height-em/2;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			}
		}
	}
	.entry-thumbnail + .entry-content { padding-top: $base-line-height-em*2; }
}

/* Link */
.format-link {
	.entry-content {
		a {
			color: $color-heading;
			font-weight: bold;
			&:hover { color: $color-main; }
		}
		.link-title {
			@include font-size($font-size-h1,1.25);
			margin-bottom: 0;
		}
		.link-url {
			color: #ADADAD;
			margin-bottom: 0;
		}
		.link-desciption { }
	}
}

/* Quote */
.format-quote {
	.entry-content {
		blockquote {
			padding-left: 0;
			margin: 0;
			border-left: 0;
			position: relative;
			@include font-size($font-size-h1,1.25);
			font-weight: bold;
			color: $color-heading;
			margin-bottom: $base-line-height-em;
			&:last-child { margin-bottom: 0 }
			p {
				display: inline;
				+ p { margin-left: 0.25em; }
			}
			cite {
				position: absolute;
				top: 100%;
				right: 0;
				font-size: 0.75em;
				font-weight: normal;
				a {
					color: $color-text;
					&:hover { color: $color-main;}
				}
			}
		}
	}
}

/* Status */
.format-status {
	.entry-content {
		color: $color-heading;
		p {
			@include font-size($font-size-h1,1.25);
			line-height: 1.5;
			font-weight: bold;
			&:last-child { margin-bottom: 0 }
		}
	}
}

/**
 * 4.2.8 Post Images
 */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img {
	&.alignleft { margin: $base-line-height-em/3.5 $base-line-height-em/2 0 0; }
	&.alignright { margin: $base-line-height-em/3.5 0 0 $base-line-height-em/2; }
}
.wp-caption {
	height: auto;
 	max-width: 100%;
 	text-align: center;
 	margin-bottom: $base-line-height-em;
 	img { max-width: 100%; }
 	&.alignleft {
 		margin: $base-line-height-em/3.5 $base-line-height-em/2 $base-line-height-em/2 0;
 		+ ul, + ol { list-style-position: inside; }
 	}
 	&.alignright { margin: $base-line-height-em/3.5 0 $base-line-height-em/2 $base-line-height-em/2; }
 	.wp-caption-text { color: #BDC3C7; margin-top: $base-line-height-em/3.5; }
}

/**
 * 4.2.9 Post Audio/Videos
 */
.fluid-audio {
	audio, object, embed, iframe {
		width: 100%;
	}
}
.fluid-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	&.ratio-4-3 { padding-bottom: 75%; } /* 4:3 */
	&.chrome-30 { padding-top: 30px; }
	&.chrome-35 { padding-top: 35px; }
	video, object, embed, iframe, > div, .mejs-video, .mejs-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
	iframe { border: 0; }
}

/**
 * 4.2.10 Galleries
 */
.gallery {
	margin: 0 auto $base-line-height-em !important;
	&:last-child { margin-bottom: 0; }
	img { border: 0 !important; }
}
.gallery-item {
	margin: 0 $base-line-height-em/4 $base-line-height-em/4 0 !important;
	float: left;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail { display: table; }
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item { text-align: left; }
.gallery-columns-2 .gallery-item { @include calc(max-width, "50% - " + $base-line-height-em/4, 48%); }
.gallery-columns-3 .gallery-item { @include calc(max-width, "33.33333333333333% - " + $base-line-height-em/4, 31.33333333333333%); }
.gallery-columns-4 .gallery-item { @include calc(max-width, "25% - " + $base-line-height-em/4, 23%); }
.gallery-columns-5 .gallery-item { @include calc(max-width, "20% - " + $base-line-height-em/4, 18%); }
.gallery-columns-6 .gallery-item { @include calc(max-width, "16.66666666666667% - " + $base-line-height-em/4, 14.66666666666667%); }
.gallery-columns-7 .gallery-item { @include calc(max-width, "14.28571428571429% - " + $base-line-height-em/4, 12.28571428571429%); }
.gallery-columns-8 .gallery-item { @include calc(max-width, "12.5% - " + $base-line-height-em/4, 10.5%); }
.gallery-columns-9 .gallery-item { @include calc(max-width, "11.11111111111111% - " + $base-line-height-em/4, 9.111111111111111%); }
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0 !important; }
.gallery-size-thumbnail { .gallery-caption { @include font-size($font-size-smaller,0.75); } }
.gallery-caption {
	background: #1D1D1D;
	background: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	@include opacity(0);
	padding: $base-line-height-em/4 $base-line-height-em/3;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}
.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: $base-line-height-em*2.5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.gallery-item:hover .gallery-caption { @include opacity(1); }
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption { display: none; }

/**
 * 4.2.11 JS Slider
 */
.slider {
	background: #1D1D1D;
	position: relative;
	overflow: hidden;
	ul, ol { margin: 0; padding: 0; list-style: none; }
	.slides {
		@include cf;
		li {
			display: none;
			-webkit-backface-visibility: hidden;
			position: relative;
			z-index: -1 !important;
			&.active-slide { z-index: 1 !important; }
			.image {
				img {
					display: block;
					margin: 0 auto;
				}
				&.height img { height: 100%; width: auto; }
				&.width img { height: auto; width: 100%; }
				.image-caption {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0;
					// max-height: 33.33333333333333%;
					// max-width: 66.66666666666666%;
					padding: ($base-line-height-em - 0.25em) $base-line-height-em;
					text-align: center;
					line-height: 1.5;
					color: #FFF;
					color: rgba(255,255,255,0.9);
					@include text-shadow(1px 1px 0 #000, 0 0 0.25em #000);
				}
				// .image-caption {
				// 	position: absolute;
				// 	bottom: 0;
				// 	left: 0;
				// 	right: 0;
				// 	margin: 0;
				// 	// max-height: 33.33333333333333%;
				// 	width: 66.66666666666666%;
				// 	padding: ($base-line-height-em - 0.25em) $base-line-height-em;
				// 	line-height: 1.5;
				// 	color: #FFF;
				// 	color: rgba(255,255,255,0.9);
				// 	@include text-shadow(1px 1px 0 #000, 0 0 0.25em #000);
				// }
			}
		}
	}
	// .direction-nav {
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// 	z-index: 10;
	// 	@include cf;
	// 	li { @include float-left; }
	// 	.prev, .next {
	// 		display: block;
	// 		text-align: center;
	// 		background: #3D3D3D;
	// 		color: #FFF;
	// 		line-height: 2;
	// 		height: 2em;
	// 		width: 2em;
	// 		border-bottom: 0;
	// 		&:focus, &:hover, &:active { background: $color-main; color: #FFF; }
	// 	}
	// 	.next { background: $color-main; }
	// 	li:first-child:hover + li .next { background: #3D3D3D; }
	// 	.disabled {
	// 		@include opacity(.5);
	// 		cursor: default;
	// 		pointer-events: none;
	// 	}
	// }
	.direction-nav {
		.prev, .next {
			position: absolute;
			top: 50%;
			margin-top: -1.5em;
			z-index: 10;
			display: inline-block;
			text-align: center;
			background: #2D2D2D;
			@include opacity(0.5);
			color: #FFF;
			line-height: 3;
			padding: 0 0.75em;
			border-bottom: 0;
			&:focus, &:hover, &:active {
				background: $color-main;
				color: #FFF;
				@include opacity(1);
			}
		}
		.prev { left: 0; }
		.next { right: 0; }
		.disabled { @include opacity(0.25); }
	}
	.control-nav {
		width: 100%;
		position: absolute;
		bottom: 0;
		text-align: center;
		z-index: 9;
		padding: 0 $base-line-height-em;
		line-height: 1.75;
		li {
			margin: 0 $base-line-height-em/6;
			display: inline-block;
			&:last-child{ margin-right: 0; }
			&:first-child{ margin-left: 0; }
		}
		&.control-paging {
			li {
				a {
					width: $base-line-height-em/2.5;
					height: $base-line-height-em/2.5;
					display: block;
					background: #3D3D3D;
					background: rgba(61,61,61,0.5);
					@include box-shadow(0 0 0 0.15em rgba(61,61,61,0.75) inset);
					color: transparent;
					line-height: 1;
					cursor: pointer;
					text-indent: -9999px;
					@include border-radius(50%);
					&:hover, &.active { background: $color-main; @include box-shadow(0 0 0 0.15em rgba(61,61,61,1) inset); }
					&.active { cursor: default; }
				}
			}
		}
	}
	.pauseplay {
		position: absolute;
		bottom: 0;
		right: 0;
		line-height: 2em;
		width: 2em;
		height: 2em;
		text-align: center;
		a {
			@include font-size($font-size-small);
			color: #FFF;
			@include text-shadow(1px 1px 0 #000, 0 0 0.25em #000);
			@include opacity(0.5);
			&:hover { @include opacity(1); }
		}
	}
}
.slider-carousel {
	position: relative;
	overflow: hidden;
	ul, ol { margin: 0; padding: 0; list-style: none; }
	.slides {
		@include cf;
		li {
			cursor: pointer;
			margin: 1px 1px 0 0;
			&:last-child { margin-right: 0; }
			img {
				// @include opacity(0.75);
				// @include transition(opacity $animation);
				// &:hover { @include opacity(1); }
			}
			&.active-slide img {
				// @include opacity(1);
			}
		}
	}
	.direction-nav {
		.prev, .next {
			position: absolute;
			left: -1.875em;
			display: block;
			text-align: center;
			background: #2D2D2D;
			@include opacity(0.5);
			color: #FFF;
			line-height: 1.25;
			padding: 0 0.5em;
			border-bottom: 0;
			&:focus, &:hover, &:active {
				background: $color-main;
				color: #FFF;
				@include opacity(1);
			}
			// &.disabled { @include opacity(1); }
		}
	}
	.prev { top: 0; }
	.next { top: 1.25em; }
	.control-nav, .pauseplay { display: none; }
	&:hover .direction-nav { .prev, .next { left: 0; } }
}

/**
 * 4.2.12 Attachments
 */
.entry-attachment {
	img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

/**
 * 4.3 Author Bio
 * ----------------------------------------------------------------------------
 */
.author-bio {
	padding-right: $base-line-height-em*3;
	padding-bottom: $base-line-height-em;
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	.author-avatar {
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: $base-line-height-em*2.5;
			height: $base-line-height-em*2.5;
			@include box(null,50%,$box-shadow);
		}
	}
	.author-info {
		padding-left: $base-line-height-em*3.5;
		min-height: $base-line-height-em*2.5;
		.author-name {
			h1 { @include font-size($font-size-h2,1); }
			h2 { @include font-size($font-size-h3,1); }
			a { color: $color-heading; &:hover { color: $color-main; } }
		}
		.author-bio-text { margin-bottom: $base-line-height-em/2; }
		.author-meta {
			font-weight: bold;
			a {
				font-weight: normal;
				color: #8D8D8D;
				&:hover { color: $color-main; }
			}
			.fa { @include opacity(0.8); }
			span {
				display: block;
				margin-right: $base-line-height-em/4;
				&:last-child { margin-right: 0; }
			}
		}
		.author-social-links {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include cf;
				li {
					@include float-left;
					margin-right: $base-line-height-em/4;
					&:last-child { margin-right: 0; }
				}
			}
			a {
				.fa {
					@include transition(opacity $animation);
					@include opacity(.5);
					@include font-size($font-size-h2,1.125);
				}
				&:active, &:hover { .fa { @include opacity(1); } }
				&.author-twitter .fa 		{ color: #00aced; }
				&.author-facebook .fa 		{ color: #3b5998; }
				&.author-googleplus .fa 	{ color: #dd4b39; }
				&.author-youtube .fa 		{ color: #bb0000; }
				&.author-vimeo .fa 			{ color: #aad450; }
				&.author-pinterest .fa 		{ color: #cb2027; }
				&.author-flickr .fa 		{ color: #ff0084; }
				&.author-instagram .fa 		{ color: #3f729b; }
				&.author-linkedin .fa 		{ color: #007bb6; }
				&.author-dribbble .fa 		{ color: #ea4c89; }
				&.author-github .fa 		{ color: #000; }
			}
		}
	}
}
.author .author-bio {
	padding: $base-line-height-em 0;
	margin-bottom: 0;
}

/**
 * 4.4 Related Posts
 */
#related-posts {
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	.title-text { margin-bottom: $base-line-height-em/2; }
	ul {
		padding-left: 0;
		list-style-type: none;
		display: block;
		@include cf;
	}
	li {
		float: left;
		display: inline;
		width: 21%;
		margin-right: 4%;
		&:last-child { margin-right: 0; }
	}
	&.post-col-3 li { width: 29.33333333333333%; }
	&.post-col-4 li { width: 21%; }
	&.post-col-5 li { width: 16%; }
	&.post-col-6 li { width: 12.16666666666667%; }
	.hentry {
		@include box(#FDFDFD,null,$box-shadow);
		.entry-info {
			padding: $base-line-height-em/2;
			.entry-title h4 {
				@include font-size($font-size,0.75);
				color: $color-text;
				@include ellipsis(nowrap);
				a { color: $color-text; &:focus, &:active, &:hover { color: $color-main; } }
			}
			.entry-date {
				display: block;
				@include font-size($font-size-h6,0.75);
				color: #CDCDCD;
				margin-bottom: -.25em;
			}
		}
	}
}

/**
 * 4.4 Comments
 * ----------------------------------------------------------------------------
 */
.hentry + .comments-area {
	.comment-respond:first-child {
		margin-left: 0;
	}
}
.comments-area {
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	.comments-title {
		margin-bottom: $base-line-height-em;
		h3 {
			line-height: 1.5;
			span {
				font-weight: normal;
				quotes: "\201C" "\201D" "\2018" "\2019"; // "“" "”" "‘" "’"
				&:before { content: open-quote; }
				&:after { content: close-quote; }
			}
		}
		&:last-child { margin-bottom: 0; }
	}
	.no-comments {
		margin-left: $base-line-height-em*3.5;
		font-weight: bold;
	}
}
.comment-list {
	list-style-type: none;
	padding: 0;
	.children {
		list-style-type: none;
		padding: 0;
	}
	.comment, .pingback  {
		margin-bottom: $base-line-height-em;
		&:last-child { margin-bottom: 0; }
		.comment, .pingback {
			margin-left: $base-line-height-em*3.5;
			&:first-child { margin-top: $base-line-height-em; }
		}
		.comment-body {
			@include box(#FEFEFE,null,$box-shadow);
			margin-left: $base-line-height-em*3.5;
			padding: $base-line-height-em;
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				right: 100%;
				content: "";
				pointer-events: none;
				border:  $base-line-height-em/4 solid transparent;
				border-top-color: #FEFEFE;
				border-right-color: #FEFEFE;
			}
			.comment-meta {
				margin-bottom: $base-line-height-em/2;
				@include cf;
				.comment-author {
					@include float-left;
					color: $color-heading;
					a { color: $color-heading; &:hover { color: $color-main; } }
					img {
						position: absolute;
						top: 0;
						left: -$base-line-height-em*3.5;
						width: $base-line-height-em*2.5;
						height: $base-line-height-em*2.5;
						@include box(#FDFDFD,null,$box-shadow);
					}
					.says { display: none; }
				}
				.comment-metadata {
					@include float-left;
					a { color: #ADADAD; &:hover { color: $color-main; } }
					&:before {
						content: "\a0\a0\2022\a0";
						color: #ADADAD;
						@include opacity(.8);
					}
					.edit-link:before {
						content: "\a0\2022\a0\a0";
						color: #ADADAD;
						@include opacity(.8);
					}
				}
				.comment-awaiting-moderation {
					color: #ADADAD;
					&:before {
						content: "\a0\a0\2022\a0\a0";
						color: #ADADAD;
						@include opacity(.8);
					}
				}
			}
			.comment-content {
				margin-bottom: $base-line-height-em/2;
				a { &:active, &:hover { border-bottom: 1px solid; } }
				h1, h2, h3, h4, h5, h6 { font-weight: normal; color: $color-text; }
				p, blockquote, table, dl, dd, address, pre {
					margin-bottom: $base-line-height-em/2;
					&:last-child { margin-bottom: 0; }
				}
				pre { padding: $base-line-height-em/2; }
			}
			.reply a { color: #ADADAD; &:hover { color: $color-main; } }
		}
		.comment { .comment-body { background: #FDFDFD; } }
		&.bypostauthor > .comment-body {
			@include box(#2D2D2D,null,$box-shadow);
			color: #ADADAD;
			&:before {
				border-top-color: #2D2D2D;
				border-right-color: #2D2D2D;
			}
			.comment-meta {
				.comment-author {
					a { color: #FFF; &:hover { color: $color-main; } }
				}
				.comment-metadata {
					a { color: #7D7D7D; &:hover { color: $color-main; } }
					&:before { color: #7D7D7D; }
					.edit-link:before { color: #7D7D7D; }
				}
			}
			.reply a { color: #7D7D7D; &:hover { color: $color-main; } }
		}
	}
	.pingback .comment-body  {
		margin-left: 0;
		&:before { display: none; }
		.comment-content { margin-bottom: 0; }
	}
}
.comment-list + .comment-respond { margin-left: $base-line-height-em*3.5; }
.comment-respond {
	.comment-reply-title {
		+ form .comment-form-author:first-child { margin-top: $base-line-height-em/2; }
	}
	.logged-in-as {
		a {
			color: $color-text;
			&:focus, &:active, &:hover { color: $color-main; }
		}
	}
	p {
		@include cf;
		margin-bottom: $base-line-height-em/2;
		&.form-submit { margin-bottom: 0; }
	}
	label { padding-left: $base-line-height-em/3; }
	input {
		float: left;
	}
	textarea {
		max-width: 100%;
		width: 100%;
	}
}

/**
 * 4.5 Navigations
 * ----------------------------------------------------------------------------
 */
.paging-navigation, .post-navigation, .image-navigation, .comment-navigation {
	@include cf;
	.nav-prev, .nav-numbers, .nav-next {
		display: inline;
		width: 50%;
	}
	.nav-prev {
		float: left;
		padding-right: $base-line-height-em/2;
	}
	.nav-next {
		float: right;
		padding-left: $base-line-height-em/2;
		text-align: right;
	}
}

/* Site Paging Navigation */
.paging-navigation {
	text-align: center;
	padding: $base-line-height-em/2 0;
	background: #E7E7E7;
	@include box-shadow(0 1px 1px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.075) inset);
	.dots { color: #ADADAD; }
	.load-more {
		
	}
}

/* Paginated Post Navigation */
.post-paging-navigation {
	display: inline-block;
	background: #F7F7F7;
	@include box(#F7F7F7,$border-radius,$box-shadow-inset);
	padding: $base-line-height-em/2.5 $base-line-height-em/1.5;
	.pages-text {
		display: inline-block;
		font-weight: bold;
		margin-right: $base-line-height-em/3;
	}
	.page-number {
		display: inline-block;
		font-size: $font-size-h6;
		padding: $base-line-height-em/6 $base-line-height-em/2.25;
		@include box($color-main,$border-radius,$box-shadow);
		color: #FFF;
	}
	a > .page-number {
		@include transition(background $animation);
		background: #4D4D4D;
		&:hover { background: $color-main; }
	}
}

/* Post Navigation */
.post-navigation {
	padding: $base-line-height-em/3 0;
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	a {
		display: inline-block;
		width: 100%;
		color: #ADADAD;
		line-height: 1.5;
		span {
			display: block;
			color: $color-text;
			padding-top: 0.25em;
			font-weight: bold;
		}
		@include ellipsis(nowrap);
		&:hover span { color: $color-main; }
	}
}

/* Image Navigation */
.image-navigation {
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
	a {
		color: #ADADAD;
		&:hover { color: $color-main; }
	}
}

/* Comments Navigation */
.comment-navigation {
	margin-left: $base-line-height-em*3.5;
	margin-bottom: $base-line-height-em;
	a {
		color: #ADADAD;
		&:hover { color: $color-text; }
	}
}


/**
 * 4.6 Pages
 * ----------------------------------------------------------------------------
 */

/**
* 4.6.1 Nothing Found Page
*/
.nothing-found {
	@include box;
	padding: $base-line-height-em*2;
	h1 {
		line-height: 1.5;
		margin-top: -0.25em;
	}
}

/**
 * 4.6.2 404 Page
 */
.error404 .error {
	background: #FFF;
	@include box(#FFF,$border-radius,$box-shadow);
	div {
		text-align: center;
		display: block;
		margin: auto;
		width: 90%;
		max-width: 480px;
		padding: 15% $base-line-height-em;
	}
	h1 { @include font-size($font-size-h2*2,1.5); }
	h2 { color: #8D8D8D; }
	h3 { color: $color-text; a { border-bottom: 1px solid; } }
}

/**
 * 4.6.3 Login Page
 */
.login-box {
	@include box(#FDFDFD,null,$box-shadow-inset);
	padding: $base-line-height-em*2;
	margin: $base-line-height-em 0;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
	#loginform { max-width: $base-line-height-em*12; }
	.login-username, .login-password {
		label {
			display: block;
			padding: 0;
		}
		input[type="text"], input[type="password"] {
			width: 100%;
			background: #FFF;
		}
	}
	.login-remember {
		label {
			@include box(#F7F7F7,$border-radius,$box-shadow-inset);
			padding: $base-line-height-em/4 $base-line-height-em/2;
		}
	}
	.login-remember, .login-submit { display: inline-block; }
	.login-submit { float: right; }
}

/**
 * 4.6.4 Archives Page
 */
.archives {
	@include box(#FFF,null,$box-shadow);
	padding: $base-line-height-em*2;
	margin-bottom: $base-line-height-em;
	&:last-child { margin-bottom: 0; }
}


/**
 * 4.7 Widgets
 * ----------------------------------------------------------------------------
 */
.widget {
 	@include hyphens(auto);
 	word-wrap: break-word;
 	margin-bottom: $base-line-height-em;
 	&:last-child { margin-bottom: 0; }
 	.widget-header {
 		margin-bottom: $base-line-height-em/2;
 		&:last-child { margin-bottom: 0; }
 		a { color: $color-heading; &:focus, &:active, &:hover { color: $color-main; } }
 	}
 	a { color: $color-text; &:focus, &:active, &:hover { color: $color-main; } }
 	&:first-child {
 		.widget-header .widget-title { margin-top: -0.25em; }
 	}
}
.widget_archive, .widget_categories, .widget_nav_menu, .widget_meta, .widget_pages, .widget_recent_comments, .widget_rss, .widget_dribbble, .widget_flickr, .widget_facebook_like_box, .widget_twitter, .widget_video {
	ul, ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
		ul, ol { padding-left: $base-line-height-em; }
	}
	select { width: 100%; }
	p { margin-bottom: $base-line-height-em/2; }
}
.widget_archive, .widget_categories, .widget_nav_menu, .widget_pages {
	ul {
		li {
			margin-bottom: $base-line-height-em/3;
			&:last-child { margin-bottom: 0; }
			a {
				@include box(#E7E7E7,$border-radius,null);
				@include box-shadow($box-shadow, $box-shadow-inset);
				display: block;
				padding: 0 $base-line-height-em/2;
				line-height: 2.25;
				&:hover {
					background: #DDD;
					color: $color-heading;
				}
			}
			&:first-child a { padding-top: 0; }
			&:last-child a { padding-bottom: 0; }
			&.current-cat > a, &.current_page_item > a {
				background: $color-main;
				color: #FFF;
				@include border-radius(0 $border-radius $border-radius 0);
				position: relative;
				&:before {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: $base-line-height-em/1.5625 $base-line-height-em/2.25 $base-line-height-em/1.5625 0; // 2.25: 1.375
					border-color: transparent $color-main transparent transparent;
					top: 0;
					left: -$base-line-height-em/2.5;
					@include transition(border $animation);
				}
				// &:hover { background: lighten($color-main,5%); &:before { border-color: transparent lighten($color-main,5%) transparent transparent; } }
				// &:active { background: darken($color-main,5%); &:before { border-color: transparent darken($color-main,5%) transparent transparent; } }
			}
			position: relative;
			span {
				position: absolute;
				top: 0;
				right: $base-line-height-em/2;
				z-index: 1;
				line-height: 2.25;
				color: #ADADAD;
				color: rgba(0,0,0,.25);
			}
			&.current-cat > span {
				color: lighten($color-main,25%);
				color: rgba(255,255,255,.75);
			}
			ul {
				padding-left: 0;
				li:first-child a { margin-top: $base-line-height-em/3; }
			}
		}
	}
}
.widget_rss {
	li {
		padding: $base-line-height-em/4 0;
		border-bottom: 1px solid #DDD;
		&:first-child { padding-top: 0; }
		&:last-child { padding-bottom: 0; border-bottom: 0; }
	}
}
.widget_author_bio {
	.author-bio {
		position: relative;
		padding: $base-line-height-em;
		@include box(#EDEDED,null,0 1px 1px rgba(0,0,0,.15) inset);
		.avatar {
			position: absolute;
			top: -$base-line-height-em;
			left: $base-line-height-em;
			width: $base-line-height-em*2;
			height: $base-line-height-em*2;
			@include border-radius($border-radius);
			// @include border-radius(50%);
		}
		.author-bio-text { margin-bottom: 0; }
		.expand-link, .collapse-link {
			font-weight: bold;
			color: $color-main;
			&:hover { color: $color-text; }
		}
		.expand-link { display: none; }
		.collapse-link { display: block; margin-top: $base-line-height-em/2; }
		&.with-avatar { margin-top: $base-line-height-em*2; padding: $base-line-height-em*1.5 $base-line-height-em $base-line-height-em; }
		&.collapsed {
			.author-bio-text {
				max-height: $base-line-height-em*4;
				overflow: hidden;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					height: $base-line-height-em*2;
					@include background(linear-gradient(to bottom, rgba(0,0,0,0), #EDEDED))
				}
			}
			.expand-link { display: block; }
			.collapse-link { display: none; }
		}
	}
	&:first-child .author-bio { &.with-avatar { margin-top: $base-line-height-em; } }
}
.widget_calendar {
	table {
		@include box(#FDFDFD,null,$box-shadow);
		overflow: hidden;
	}
	th, td, a {
		text-align: center;
	}
	th { padding: $base-line-height-em/4 0; }
	th, td {
		&:last-child { padding-right: $base-line-height-em/4; }
		&:first-child { padding-left: $base-line-height-em/4; }
	}
	caption {
		margin: 0 0 $base-line-height-em/2;
		text-align: left;
		font-weight: bold;
		@include font-size(16px);
		margin-top: -0.375em;
	}
	.widget-header + table caption {
		margin: 0 0 $base-line-height-em/4;
		text-align: center;
		font-weight: normal;
		@include font-size($font-size);
	}
	tbody {
		background: #FFF;
		td { color: #8D8D8D; padding: $base-line-height-em/8 0; }
		a {
			// display: block;
			color: $color-main;
			// &:hover { background: $color-main; color: #FFF; }
		}
	}
	tfoot {
		td { padding: $base-line-height-em/4 0; }
		tr { &:first-child { td { border-top: 0; } } }
		a { color: $color-text; &:hover { color: $color-main; } }
	}
	th { border-bottom: 1px solid #F5F5F5; }
	td { border-bottom-color: #F5F5F5; }
	#prev { text-align: left; padding-left: $base-line-height-em/2; }
	#next { text-align: right; padding-right: $base-line-height-em/2; }
}
.widget_pages {
	ul ul {
		padding-left: 0;
	}
}
.widget_recent_comments {
	li {
		margin-bottom: $base-line-height-em/3;
		&:first-child { margin-top: $base-line-height-em/3; }
		&:last-child { margin-bottom: 0; }
	}
	.comment-content {
		margin-bottom: 0;
		line-height: 1.5;
		padding: (($base-line-height-em/2) - 0.25em) $base-line-height-em/2;
		@include box(#FDFDFD,null,$box-shadow);
	}
	.comment-author {
		// display: block;
		a { font-weight: bold; color: #6D6D6D; }
		cite { font-style: normal; }
	}
	.comment-date {
		display: block;
		color: #BDBDBD;
		.datetime { @include font-size($font-size-h6,1,$font-size); }
		margin-bottom: -0.25em;
	}
	.with-thumbnail {
		li {
			position: relative;
			min-height: $base-line-height-em*2;
		}
		.comment-author-avatar {
			position: absolute;
			top: 0;
			left: 0;
 			.avatar {
 				height: $base-line-height-em*2;
 				width: $base-line-height-em*2;
 				@include box(#EDEDED,null,$box-shadow);
 				@include transition(opacity $animation);
 				&:hover { @include opacity(.8); }
 			}
		}
		.comment-content {
			margin-left: $base-line-height-em*2.5;
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				right: 100%;
				content: "";
				pointer-events: none;
				border:  $base-line-height-em/6 solid transparent;
				border-top-color: #FDFDFD;
				border-right-color: #FDFDFD;
			}
		}
	}
}
.widget_recent_entries {
	p { margin-bottom: $base-line-height-em/2; }
	.recent-entry-title a { display: block; @include ellipsis(nowrap); }
	.recent-entry-date { color: #BDBDBD; @include font-size($font-size-h6,1); }
	&.recent-entry-box, .recent-entry-box { @include box(#FDFDFD,null,$box-shadow); }
	&.style-list, &.style-box, &.style-box-extended {
		&.with-date, &.with-thumbnail {
			li {
				margin-bottom: $base-line-height-em/3;
				&:last-child { margin-bottom: 0; }
				position: relative;
			}
		}
		&.with-borders {
			li {
				margin-bottom: 0;
				padding: $base-line-height-em/4 0;
				border-bottom: 2px solid #E7E7E7;
				&:first-child { padding-top: 0; }
				&:last-child { padding-bottom: 0; border-bottom: 0; }
			}
		}
		&.with-date {
			.recent-entry-title { margin-bottom: -0.5em; }
		}
		&.with-thumbnail {
			img {
				position: absolute;
				height: $base-line-height-em*1;
				width: $base-line-height-em*1;
				@include box(#EDEDED,null,$box-shadow);
				@include transition(opacity $animation);
				&:hover { @include opacity(.8); }
			}
			.recent-entry-content {
				min-height: $base-line-height-em*1;
				padding-left: $base-line-height-em*1.5;
			}
		}
		&.with-date.with-thumbnail {
			img {
				height: $base-line-height-em*2;
				width: $base-line-height-em*2;
			}
			.recent-entry-content {
				min-height: $base-line-height-em*2;
				padding-left: $base-line-height-em*2.5;
				padding-top: 0.25em;
			}
		}
	}
	&.style-list-2 {
		ul {
			list-style-type: none;
			padding-left: 0;
			li {
				margin-bottom: $base-line-height-em/3;
				&:last-child { margin-bottom: 0; }
				position: relative;
			}
		}
		.recent-entry-content {
			&:first-child {
				.recent-entry-title:only-child a {
					display: block;
					padding: $base-line-height-em/3;
					line-height: 1;
				}
			}
			.recent-entry-title {
				@include font-size($font-size,0.75);
			}
			.recent-entry-date {
				display: block;
				@include font-size($font-size-h6,0.75);
			}
		}
		&.with-date .recent-entry-content { padding: $base-line-height-em/3 $base-line-height-em/2; }
		&.with-thumbnail {
			li { min-height: $base-line-height-em*1.5; }
			img {
				background: #EDEDED;
				position: absolute;
				top: 0;
				left: 0;
				@include transition(opacity $animation);
				&:hover { @include opacity(.8); }
				height: $base-line-height-em*1.5;
				width: $base-line-height-em*1.5;
			}
			.recent-entry-content {
				padding-left: $base-line-height-em*1.875;
				.recent-entry-title:only-child { line-height: $base-line-height-em*1.5; }
			}
		}
		&.with-date.with-thumbnail {
			li { min-height: $base-line-height-em*2; }
			img {
				height: $base-line-height-em*2;
				width: $base-line-height-em*2;
			}
			.recent-entry-content {
				padding: 0 $base-line-height-em/3 0 $base-line-height-em*2.5;
				.recent-entry-title{ padding-top: $base-line-height-em/3.5; }
			}
		}
	}
	&.style-box {
		.recent-entry-box { padding: $base-line-height-em; }
		ul.with-list-style { padding-left: $base-line-height-em/2; }
	}
	&.style-box-extended {
		.widget-header .widget-title { margin-top: -0.25em; }
		padding: $base-line-height-em;
		ul.with-list-style { padding-left: $base-line-height-em/2; }
	}
}
.widget_rss {
	li a { font-weight: bold; }
	.rss-date, cite { display: block; color: #ADADAD; @include font-size($font-size-small); }
	cite { font-style: normal; }
}
.widget_tag_cloud {
	.tagcloud { @include cf; }
	a {
		@include float-left;
		margin-bottom: 2px !important;
		margin-right: 2px !important;
		color: $color-text !important;
		background: #DDD !important;
		border: 1px solid #DDD !important;
		text-transform: capitalize !important;
		padding: 0 0.5em !important;
		font-size: $font-size-h6 !important;
		line-height: 1.75 !important;
		font-weight: normal !important;
		text-decoration: none !important;
		&:focus, &:hover, &:active {
			background: $color-main !important;
			border-color: $color-main !important;
			color: #FFF !important;
		}
	}
}
.widget_dribbble {
	.dribbble-shots {
		list-style-type: none;
		margin: 0;
		padding: 0;
	 	li {
	 		display: inline-block;
	 		width: 20%;
	 		margin: 0 5% 5% 0;
	 		&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) { margin-bottom: 0; }
	 		a {
	 			display: inline-block;
	 			img {
	 				height: 100%;
	 				width: 100%;
	 				@include border-radius($border-radius);
	 				@include box-shadow($box-shadow);
	 				@include transition(opacity $animation);
	 				&:hover { @include opacity(.8); }
	 			}
	 		}
	 	}
	 	&.shots-col-1 {
	 		li {
	 			width: 100%;
	 			margin: 0 0 $base-line-height-em/2 0;
	 			&:last-child { margin-bottom: 0; }
	 			a { padding: $base-line-height-em/2; }
	 		}
	 	}
	 	&.shots-col-2 {
	 		li {
	 			width: 45%;
	 			&:last-child, &:nth-last-child(2) { margin-bottom: 0; }
	 		}
	 	}
	 	&.shots-col-3 {
	 		li {
	 			width: 28.33333333333333%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3) { margin-bottom: 0; }
	 		}
	 	}
	 	&.shots-col-4 {
	 		li {
	 			width: 20%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) { margin-bottom: 0; }
	 		}
	 	}
	 	&.shots-col-5 {
	 		li {
	 			width: 15%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4), &:nth-last-child(5) { margin-bottom: 0; }
	 		}
	 	}
	}
}
.widget_flickr {
	p { margin-bottom: $base-line-height-em/2; }
	.flickr-photos {
		// max-width: 368px;
		.flickr_badge_image {
			display: inline-block;
			width: 20%;
			margin: 0 5% 5% 0;
			&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) { margin-bottom: 0; }
			a {
				display: inline-block;
				img {
					height: 100%;
					width: 100%;
					@include border-radius($border-radius);
					@include box-shadow($box-shadow);
					@include transition(opacity $animation);
					&:hover { @include opacity(.8); }
				}
			}
		}
	 	&.photos-col-1 {
	 		.flickr_badge_image {
	 			width: 100%;
	 			margin: 0 0 $base-line-height-em/2 0;
	 			&:last-child { margin-bottom: 0; }
	 			a { padding: $base-line-height-em/2; }
	 		}
	 	}
	 	&.photos-col-2 {
	 		.flickr_badge_image {
	 			width: 45%;
	 			&:last-child, &:nth-last-child(2) { margin-bottom: 0; }
	 		}
	 	}
	 	&.photos-col-3 {
	 		.flickr_badge_image {
	 			width: 28.33333333333333%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3) { margin-bottom: 0; }
	 		}
	 	}
	 	&.photos-col-4 {
	 		.flickr_badge_image {
	 			width: 20%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) { margin-bottom: 0; }
	 		}
	 	}
	 	&.photos-col-5 {
	 		.flickr_badge_image {
	 			width: 15%;
	 			&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4), &:nth-last-child(5) { margin-bottom: 0; }
	 		}
	 	}
	}
}
.widget_facebook_like_box {
	p {
		margin-bottom: $base-line-height-em/2;
	}
}
.widget_text {
	p { margin-bottom: $base-line-height-em/2; &:last-child { margin-bottom: 0; } }
	&.style-box {
		@include box(#FDFDFD,null,$box-shadow);
		padding: $base-line-height-em;
		.widget-header .widget-title { margin-top: -0.25em; }
		.widget-header { margin-bottom: $base-line-height-em/2; }
	}
	&.style-notepad {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding: 2em $base-line-height-em 1.9em $base-line-height-em*2;
		width: 100%;
		line-height: 2em;
		font-size: $font-size-small-em;
		background-color: #FFF;
		@include background-image(
			linear-gradient(#F6ABCA 1px, transparent 1px),
			linear-gradient(#F6ABCA 1px, transparent 1px),
			linear-gradient(#E8E8E8 1px, transparent 1px)
		);
		background-size: 1px 1px, 1px 1px, 1px 2em;
		background-repeat: repeat-y, repeat-y, repeat;
		background-position: $base-line-height-em 0, $base-line-height-em + 0.2em 0, 0 0;
		@include border-radius($border-radius);
		// @include box-shadow(0 0 0 1px rgba(0,0,0,.15), 0 0 4px rgba(0,0,0,.5));
		@include box-shadow(inset 0 1px 0 0 #FFF, 0 0 0 1px rgba(0,0,0,.05), 0 0 4px rgba(0,0,0,.25));
		p { margin-bottom: 2em; &:last-child { margin-bottom: 0; } }
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 100%;
			left: 0.2em;
			right: 0.2em;
			margin-top: -0.2em;
			height: 0.4em;
			background-color: #FFF;
			@include background-image(linear-gradient(#F6ABCA 1px, transparent 1px), linear-gradient(#F6ABCA 1px, transparent 1px), linear-gradient(#E8E8E8 1px, transparent 1px));
			background-size: 1px 1px, 1px 1px, 0 0;
			background-repeat: repeat-y, repeat-y, repeat;
			background-position: $base-line-height-em 0, $base-line-height-em + 0.2em 0, 0 4em;
			@include border-radius($border-radius);
			// @include box-shadow(0 0 0 1px rgba(0,0,0,.15), 0 0 4px rgba(0,0,0,.5));
			@include box-shadow(0 0 0 1px rgba(0,0,0,.05), 0 0 4px rgba(0,0,0,.25));
		}
		&:before {
			z-index: -2;
			left: 0.4em;
			right: 0.4em;
			height: 0.6em;
			background-color: #eee;
		}
		.widget-header {
			position: relative;
			margin: -(2em) (-$base-line-height-em) (1em) (-$base-line-height-em*2);
			height: 3em;
			background: #3D3D3D;
			@include border-radius($border-radius $border-radius 0 0);
			// @include background-image(linear-gradient(#226797, #0C3452));
			@include background-image(linear-gradient(#3D3D3D, #2D2D2D));
			@include box-shadow(inset 0 1px rgba(255,255,255,.25), 0 2px 1px rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.5), 0 1px #000);
			.widget-title {
				font-weight: normal;
				line-height: 2.5em;
				font-size: $font-size-h3-em;
				color: #FFF;
				text-align: center;
				@include text-shadow(0 -1px rgba(0, 0, 0, 0.7));
			}
			&:before, &:after {
			  content: '';
			  position: absolute;
			  bottom: 0.2em;
			  left: 1px;
			  right: 1px;
			  height: 0;
			  border-top: 1px dashed #617c90;
			  border-color: rgba(255,255,255,.25);
			}
			&:after {
			  bottom: 0.3em;
			  border-color: #071c2c;
			  border-color: rgba(0,0,0,.5);
			}
		}
	}
	&.style-notepaper {
		.textwidget {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding: 2em $base-line-height-em 2em $base-line-height-em*2;
			font-size: $font-size-small-em;
			line-height: 2em;
			background-color: #FFF;
			@include background-image(
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px)
			);
			background-size: 1px 1px, 1px 1px, 2em 2em;
			background-repeat: repeat-y, repeat-y, repeat;
			background-position: $base-line-height-em 0, $base-line-height-em + 0.2em 0, 0 0;
			border: 1px solid #BDBDBD;
			@include box-shadow(0 1px rgba(255,255,255,.5), inset 0 0 1em #F7F7F7, 0 0 1px rgba(0,0,0,.1), 0 2px rgba(0,0,0,.02));
			p { margin-bottom: 2em; &:last-child { margin-bottom: 0; } }
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				z-index: -1;
				left: 0;
				right: 0;
				background: #FEFEFE;
				border: 1px solid #BDBDBD;
				@include rotate(2deg);
			}
		}
	}
	&.style-notepaper-blue {
		.textwidget {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding: 2em $base-line-height-em 2em $base-line-height-em*2;
			font-size: $font-size-small-em;
			line-height: 2em;
			p { margin-bottom: 2em; &:last-child { margin-bottom: 0; } }
			background-color: lighten(#258FEF,35%);
			@include background-image(
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
				radial-gradient(#FFF 0%, transparent 100%)
			);
			background-size: 1px 1px, 1px 1px, 1px 2em, 100% 100% ;
			background-repeat: repeat-y, repeat-y, repeat, no-repeat ;
			background-position: $base-line-height-em 0, $base-line-height-em + 0.2em 0, 0 0;
			border: 1px solid #BDBDBD;
			@include box-shadow(0 1px rgba(255,255,255,.5), inset 0 0 2em lighten(#258FEF,35%), 0 0 1px rgba(0,0,0,.1), 0 2px rgba(0,0,0,.02));
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				z-index: -1;
				left: 0;
				right: 0;
				background: lighten(#258FEF,35%);
				border: 1px solid #BDBDBD;
				@include rotate(2deg);
			}
		}
	}
	&.style-notepaper-yellow {
		.textwidget {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding: 2em $base-line-height-em 2em $base-line-height-em*2;
			font-size: $font-size-small-em;
			line-height: 2em;
			p { margin-bottom: 2em; &:last-child { margin-bottom: 0; } }
			color: #6A5F49;
			background-color: #F2F6C1;
			@include background-image(
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(#F6ABCA 1px, transparent 1px),
				linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
				radial-gradient(rgba(255,255,255,.5) 0%, rgba(255,255,255,.1) 100%)
			);
			background-size: 1px 1px, 1px 1px, 2em 2em, 100% 100% ;
			background-repeat: repeat-y, repeat-y, repeat, no-repeat ;
			background-position: $base-line-height-em 0, $base-line-height-em + 0.2em 0, 0 0;
			border: 1px solid #C3BAAA;
			border-color: rgba(195,186,170,.9);
			@include box-shadow(0 1px rgba(255,255,255,.5), inset 0 0 5px #D8E071, 0 0 1px rgba(0,0,0,.1), 0 2px rgba(0,0,0,.02));

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				z-index: -1;
				left: 0;
				right: 0;
				background: rgba(242,246,193,0.9);
				border: 1px solid rgba(170,157,134,0.7);
				@include rotate(2deg);
			}
		}
	}
}
.widget_twitter {
	li {
		margin: $base-line-height-em/1.5 0;
		border-bottom: 0;
		position: relative;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
		.twitter-icon {
			position: absolute;
			top: 0.125em;
			left: 0;
			color: $color-text;
			width: $base-line-height-em*1.5;
			text-align: center;
			.fa { @include font-size($font-size-h2,1); }
		}
		.tweet-text {
			line-height: 1.5;
			padding-left: $base-line-height-em*1.5;
		}
	}
	.tweet-text { margin-bottom: 0; }
	.tweet-timestamp {
		display: block;
		.datetime { color: #ADADAD; @include font-size($font-size-small); }
	}
	.follow-button {
		padding-top: $base-line-height-em/1.5;
		padding-left: $base-line-height-em*1.5;
	}
	ul.with-photo {
		li {
			border-bottom: 0;
			min-height: $base-line-height-em*2.25;
			padding: 0;
			margin: $base-line-height-em/2 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
			&:hover {
				.photo { @include opacity(.8); }
			}
		}
		.tweet-user-photo {
			position: absolute;
			top: 0.25em;
 			.photo {
 				height: $base-line-height-em*2;
 				width: $base-line-height-em*2;
 				@include border-radius($border-radius);
 				@include box-shadow($box-shadow);
 				@include transition(opacity $animation);
 			}
	 		// &:hover + p .comment-author a { color: $color-main; }
		}
		.tweet-text {
			line-height: 1.5;
			padding-left: $base-line-height-em*2.5;
			padding-top: 0.125em;
		}
	}
}
.widget_video {
	.video-viewport {
		@include box(#FFF,null,$box-shadow);
	}
}
.widget_post_slider {
	color: #6D6D6D;
	.entry-title {
		padding: $base-line-height-em $base-line-height-em 0;
		&:last-child { padding-bottom: $base-line-height-em; }
		.title { @include font-size($font-size-h3); }
		a { color: #8D8D8D; &:hover { color: $color-main; } }
	}
	.entry-content {
		padding: 0 $base-line-height-em;
		&:last-child { padding-bottom: $base-line-height-em; }
	}
	.entry-meta {
		padding: 0 $base-line-height-em $base-line-height-em;
		color: #4D4D4D;
		> span { .fa { color: #4D4D4D; } }
	}
	.direction-nav { .prev, .next { top: 50%; } }
	.with-thumbnail .direction-nav { .prev, .next { top: 90px; } }
}



/**
 * 4.7.1 Footer Widgets
 */
#footer-sidebar {
	.widget {
		a { color: #8D8D8D; &:focus, &:active, &:hover { color: $color-main; } }
		.widget-header {
			.widget-title { color: #FFF; }
			a { color: #FFF; &:hover { color: $color-main; } }
		}
		&:first-child {
			.widget-header .widget-title { margin-top: 0; }
		}
	}
	.widget_categories {
		ul {
			li {
				a {
					background: #272727;
					&:hover {
						background: #474747;
						color: #FFF;
					}
				}
				&.current-cat > a {
					background: #474747;
					color: #FFF;
					@include border-radius($border-radius);
					&:before { display: none; }
				}
				position: relative;
				span {
					color: #6D6D6D;
					color: rgba(255,255,255,.25);
				}
				&.current-cat > span {
					color: #8D8D8D;
					color: rgba(255,255,255,.5);
				}
			}
		}
	}
	.widget_calendar {
		table { @include box(#171717,null,$box-shadow); }
		caption { color: #FFF; }
		.widget-header + table caption {  color: #8D8D8D; }
		tbody { background: #272727; }
		tbody { a { color: $color-main; &:hover { color: #FFF; } } }
		th, td { border-bottom-color: #000; }
	}
	.widget_archive, .widget_categories, .widget_nav_menu, .widget_pages {}
	.widget_recent_entries, .widget_rss {
		li { border-bottom-color: #3D3D3D; }
	}
	.widget_rss {
		.rss-date, cite { color: #6D6D6D; }
	}
	.widget_rss {
		.rss-date, cite { display: block; color: #4D4D4D; }
	}
	.widget_meta {}
	.widget_tag_cloud {
		a {
			background: #2D2D2D !important;
			color: #8D8D8D !important;
			border: 1px solid #2D2D2D !important;
			&:focus, &:hover, &:active {
				background: $color-main !important;
				border: 1px solid $color-main !important;
				color: #FFF !important;
			}
		}
	}
	.widget_text { background: transparent; padding: 0; }
	.widget_recent_entries {
		.recent-entry-date { color: #4D4D4D; }
	}
	.widget_recent_comments {
		.comment-content {
			background: #272727;
		}
		.comment-author {
			a { color: #8D8D8D; }
		}
		.comment-date {
			color: #4D4D4D;
		}
		.with-thumbnail {
			.comment-author-avatar {
	 			.avatar { background: #2D2D2D; }
			}
			.comment-content {
				&:before {
					border-top-color: #272727;
					border-right-color: #272727;
				}
			}
		}
	}
}




/**
 * ============================================================================
 * 6.0 Site Footer
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
#site-footer {
	// border-top: 4px solid $color-main;
	background: #1D1D1D;
	color: #6D6D6D;
	#footer-sidebar {
		.widget-col {
			padding-top: $base-line-height-em;
			padding-bottom: $base-line-height-em;
		}
	}
	.menu a, #copyright a { color: #8D8D8D; &:focus, &:active, &:hover { color: $color-main; } }
	#sub-footer-bottom {
		background: #0D0D0D;
		padding: $base-line-height-em/2 0;
	}
	#footer-nav, #copyright { display: inline-block; }
	#footer-nav {
		float: right;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			@include float-left;
			margin-left: $base-line-height-em/2;
			&:first-child { margin-left: 0; }
		}
	}
	#copyright { float: left; margin: 0; }
	#back-to-top-link {
		position: fixed;
		bottom: $base-line-height-em/3;
		right: $base-line-height-em/3;
		display: none;
	}
}




/**
 * ============================================================================
 * 7.0 Media Queries
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
@media  only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 979px) {
	body.responsive {
		font-size: 13px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
}

@media only screen and (max-width: 767px) {
	body.responsive { font-size: 13px; }
	.responsive {
		.grid-container {
			padding-left: $base-line-height-em;
			padding-right: $base-line-height-em;
			[class^="col-"], [class*=" col-"] {
				padding-left: 0;
				padding-right: 0;
			}
		}
		[class^="col-"], [class*=" col-"] {
			float: none;
			display: block;
			width: 100%;
			padding-left: $base-line-height-em;
			padding-right: $base-line-height-em;
		}
		figure {
			figcaption {
				position: absolute;
				top: 0;
				bottom: auto;
				right: 0;
				left: auto;
			}
		}
		.flexslider {
			.slides {
				.slide-post {
					.slide-post-image {
						float: none;
						display: block;
						width: 100%;
					}
					.slide-post-info {
						float: none;
						display: block;
						width: 100%;
						position: relative;
						border-left: 0;
						border-top: $base-line-height-em/4 solid $color-main;
						padding-bottom: $base-line-height-em*2;
						&:after { display: none; }
						&:before {
							top: -$base-line-height-em/1.5;
							left: auto;
							right: $base-line-height-em;
							border: $base-line-height-em/2 solid transparent;
							border-top: 0;
							border-bottom: $base-line-height-em/2 solid $color-main;
						}
					}
				}
			}
			.flex-control-nav { text-align: left; }
		}
		#site-header {
			.grid-container {
				padding: 0;
			}
		}
		#main-menu.mobile > ul {
			margin-bottom: 0;
			padding: $base-line-height-em/1.5 0;
			list-style: none;
			a {
				padding: $base-line-height-em/3 $base-line-height-em;
				display: block;
				color: #8D8D8D;
				// font-weight: bold;
				&:active, &:hover {
					background: $color-main;
					color: #FFF;
					+ .toggle-sub-menu { color: #8D8D8D; }
				}
			}
			ul {
				list-style: none;
				padding: 0;
				display: none;
			}
			li {
				position: relative;
				white-space: nowrap;
				border-bottom: 1px solid #1D1D1D;
				&.current_page_item, &.current_page_parent, &.current_page_ancestor {
					> a { color: #FFF; }
				}
				&.current_page_parent, &.current_page_ancestor {
					> .toggle-sub-menu { @include opacity(1); }
				}
				.toggle-sub-menu {
					padding: $base-line-height-em/3 $base-line-height-em $base-line-height-em/3 $base-line-height-em*3;
					position: absolute;
					top: 0;
					right: 0;
					display: inline-block;
					line-height: $base-line-height-em;
					color: #8D8D8D;
					@include background-image(linear-gradient(left, rgba(29,29,29,0) 0%, rgba(45,45,45,1) 100%));
					@include opacity(.5);
					@include transition(opacity $animation, transform 200ms linear);
					&.active, &:hover { @include opacity(1); }
					&.active:before { @include rotate(-180deg); }
				}
				li {
					background: #272727;
					border-bottom: 1px solid #272727;
					a { padding-left: $base-line-height-em*1.5; }
					.toggle-sub-menu {
						@include background-image(linear-gradient(left, rgba(45,45,45,0) 0%, rgba(61,61,61,1) 100%));
					}
					li {
						background: #2D2D2D;
						border-bottom: 1px solid #2D2D2D;
						a { padding-left: $base-line-height-em*2; }
						li {
							background: #373737;
							border-bottom: 1px solid #373737;
							a { padding-left: $base-line-height-em*2.5; }
							li {
								background: #3D3D3D;
								border-bottom: 1px solid #3D3D3D;
								a { padding-left: $base-line-height-em*3; }
								li {
									background: #474747;
									border-bottom: 1px solid #474747;
									a { padding-left: $base-line-height-em*3.5; }
									li {
										background: #4D4D4D;
										border-bottom: 1px solid #4D4D4D;
										a { padding-left: $base-line-height-em*4; }
										li {
											background: #575757;
											border-bottom: 1px solid #575757;
											a { padding-left: $base-line-height-em*4.5; }
											li {
												background: #5D5D5D;
												border-bottom: 1px solid #5D5D5D;
												a { padding-left: $base-line-height-em*5; }
												li {
													background: #676767;
													border-bottom: 1px solid #676767;
													a { padding-left: $base-line-height-em*5.5; }
													li {
														background: #6D6D6D;
														border-bottom: 1px solid #6D6D6D;
														a { padding-left: $base-line-height-em*6; }
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.hover {
					> ul { display: block; }
					> a { color: #FFF; }
				}
			}
		}
		#tagline {
			background: #1D1D1D;
			padding: $base-line-height-em/2 $base-line-height-em/2 $base-line-height-em/2 $base-line-height-em;;
			h2 {
				color: #8D8D8D;
				margin-left: 0;
			}
		}
		#social-links {
			padding: $base-line-height-em/2 $base-line-height-em $base-line-height-em/2 $base-line-height-em/2;
			margin: 0;
			ul {
				li {
					@include float-left;
					margin: 0 $base-line-height-em/3;
					&:last-child { margin-right: 0; }
				}
			}
		}
		#main-menu, #navbar .search-form { display: none; }
		#toggle-nav {
			display: inline-block;
			position: absolute;
			top: $base-line-height-em/2;
			right: $base-line-height-em;
			height: $base-line-height-em*2.25;
			.toggle-menu, .toggle-search {
				display: inline-block;
				background: #2D2D2D;
				color: #8D8D8D;
				line-height: $base-line-height-em*2;
				height: $base-line-height-em*2;
				width: $base-line-height-em*2;
				text-align: center;
				&.active { background: #4D4D4D; color: #FFF; }
			}
		}
		#navbar .search-form {
			margin-bottom: 0;
			padding: $base-line-height-em/3.625 $base-line-height-em;
			@include cf;
			input, button {
				position: static;
				top: auto;
				left: auto;
				right: auto;
				@include float-left;
			}
		}
		#site-footer {
			#sub-footer-bottom { padding: $base-line-height-em 0; }
			#footer-nav, #copyright {
				display: block;
				float: none;
				text-align: center;
			}
			#footer-nav ul { float: none; display: inline-block; }
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
	body.responsive { font-size: 12px; }
	.responsive {
		#social-links {
			ul li {
				display: none;
				&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
					display: inline;
				}
			}
		}
		.hentry {
			.entry-header {
				padding: $base-line-height-em $base-line-height-em 0;
				&:last-child { padding-bottom: $base-line-height-em; }
			}
			.entry-content { padding: $base-line-height-em; }
			.entry-footer { padding: $base-line-height-em; }
		}
		.comment-list + .comment-respond { margin-left: 0; }
		.comment-reply-form { padding: $base-line-height-em; }
		.archives { padding: $base-line-height-em; }
	}
}




/**
 * ============================================================================
 * 8.0 Retina specific styles
 * ============================================================================
 * ----------------------------------------------------------------------------
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.loading {
		background-image: url("images/loader-2x.gif");
	}
}