// Clearfix
@mixin clearfix {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
@mixin cf {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// Placeholder
@mixin placeholder {
	&::-webkit-input-placeholder { @content; } 
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
}

// Animation
@mixin animation($animation) {
	-webkit-animation: $animation;
	animation: $animation;
}

// Keyframes
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

// Keyframes
// $background: #FFF
// $boxshadow: $box-shadow
// $borderradius: $border-radius

@mixin box($background: #FFF, $borderradius: null, $boxshadow: null) {
	background: $background;
	@if $boxshadow != null { @include box-shadow($boxshadow); }
	@if $borderradius != null { @include border-radius($borderradius); }
}

@mixin float-none {
	float: none;
}

@mixin calc($property, $value, $fallback_value: null) {
	@if $fallback_value != null { #{$property}: #{$fallback_value}; }
	#{$property}: -webkit-calc(#{$value});
	#{$property}: calc(#{$value});
}


@mixin font-size($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {
	@if not $relative-font-sizing and $from-size != $base-font-size {
		@warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
	}
	font-size: $font-unit * $to-size / $from-size;
	@include adjust-leading-to($lines, if($relative-font-sizing, $to-size, $base-font-size));
}