#x-container {
  background: #fafafa;
  max-width: 960px;
  min-width: 480px;
  margin: 20px 20px 0 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  position: relative;
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #666;
}
#x-container a {
  outline: 0;
  -webkit-transition: 0.2s linear, color 0.1s linear;
  -moz-transition: 0.2s linear, color 0.1s linear;
  -o-transition: 0.2s linear, color 0.1s linear;
  transition: 0.2s linear, color 0.1s linear;
}
#x-container h1, #x-container h2, #x-container h3, #x-container h4, #x-container h5, #x-container h6 {
  color: #444;
  font-weight: bold;
}
#x-container .button, #x-container .button-primary {
  font-weight: bold;
}
#x-container .button .dashicons, #x-container .button-primary .dashicons {
  display: inline-block;
  width: auto;
  height: 26px;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
#x-container input, #x-container textarea, #x-container select, #x-container button {
  margin: 0;
  vertical-align: top;
}
#x-container input[type='text'], #x-container textarea, #x-container select {
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  width: 100%;
  max-width: 320px;
  padding: 0 8px;
}
#x-container input[type='text']::-webkit-input-placeholder, #x-container textarea::-webkit-input-placeholder, #x-container select::-webkit-input-placeholder {
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#x-container input[type='text']:-moz-placeholder, #x-container textarea:-moz-placeholder, #x-container select:-moz-placeholder {
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#x-container input[type='text']::-moz-placeholder, #x-container textarea::-moz-placeholder, #x-container select::-moz-placeholder {
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#x-container input[type='text']:-ms-input-placeholder, #x-container textarea:-ms-input-placeholder, #x-container select:-ms-input-placeholder {
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#x-container input[type='text'][readonly], #x-container textarea[readonly] {
  background-color: #fafafa;
}
#x-container textarea {
  line-height: 1.5;
  height: auto;
  width: 100%;
  max-width: none;
  padding: 5px 8px;
  resize: both;
}
#x-container select {
  padding: 4px;
}
#x-container option {
  max-width: 320px;
}
#x-container input[type='radio'] {
  border: 2px solid #ccc;
  background: #fefefe;
  height: 15px;
  width: 15px;
  min-width: 15px;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#x-container input[type='radio']:hover:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font: 400 24px/15px dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\2022';
  text-indent: -9999px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccc;
  width: 5px;
  height: 5px;
  margin: 3px;
}
#x-container input[type='radio']:checked {
  border-color: #2ea2cc;
}
#x-container input[type='radio']:checked:before {
  background: #2ea2cc;
  width: 5px;
  height: 5px;
  margin: 3px;
  line-height: 15px;
}
#x-container input[type='radio'] + label {
  font-size: 13px;
  padding-left: 3px;
}
#x-container input[type='checkbox'] {
  border: 2px solid #ccc;
  background: #fdfdfd;
  color: #555;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  min-width: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#x-container input[type='checkbox']:hover {
  background: #ccc;
}
#x-container input[type='checkbox']:hover:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font: 400 19px/15px dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f147";
  width: 15px;
  height: 15px;
  margin: -2px 0 0 -5px;
  color: #fff;
}
#x-container input[type='checkbox']:checked {
  background: #2ea2cc;
  border-color: #2ea2cc;
}
#x-container input[type='checkbox']:checked:before {
  font: 400 19px/15px dashicons;
  width: 15px;
  height: 15px;
  margin: -2px 0 0 -5px;
  color: #fff;
}
#x-container .hide {
  display: none;
}
#x-container .tooltip {
  position: absolute;
  background: #000;
  padding: 10px;
  color: #fff;
  display: inline-block;
  background: #444;
  color: #fff;
  font-size: 11px;
  padding: 0 8px;
  line-height: 23px;
  margin-top: -28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 9999;
}
#x-container .tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px 4px;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  top: 100%;
  left: 6px;
}
#x-container .x-radio, #x-container .x-checkbox, #x-container .x-switch {
  margin: 0 0 3px 0;
  font-size: 13px;
  line-height: 15px;
  height: 17px;
  vertical-align: middle;
}
#x-container .x-radio:last-child, #x-container .x-checkbox:last-child, #x-container .x-switch:last-child {
  margin-bottom: 0;
}
#x-container .x-radio.inline, #x-container .x-checkbox.inline, #x-container .x-switch.inline {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5.5px;
}
#x-container .x-radio.col-2, #x-container .x-radio.col-3, #x-container .x-radio.col-4, #x-container .x-checkbox.col-2, #x-container .x-checkbox.col-3, #x-container .x-checkbox.col-4, #x-container .x-switch.col-2, #x-container .x-switch.col-3, #x-container .x-switch.col-4 {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#x-container .x-radio.col-2, #x-container .x-checkbox.col-2, #x-container .x-switch.col-2 {
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
#x-container .x-radio.col-3, #x-container .x-checkbox.col-3, #x-container .x-switch.col-3 {
  width: -webkit-calc(33% - 10px);
  width: calc(33% - 10px);
}
#x-container .x-radio.col-4, #x-container .x-checkbox.col-4, #x-container .x-switch.col-4 {
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
}
#x-container .x-radio input, #x-container .x-checkbox input, #x-container .x-switch input {
  display: none;
}
#x-container .x-radio label {
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
#x-container .x-radio label .radio-icon {
  display: inline-block;
  border: 2px solid #ccc;
  background: #fff;
  color: #fff;
  height: 11px;
  width: 11px;
  vertical-align: middle;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.05s color ease-in-out, 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -moz-transition: 0.05s color ease-in-out, 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -o-transition: 0.05s color ease-in-out, 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  transition: 0.05s color ease-in-out, 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#x-container .x-radio label .radio-icon:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\2022';
  font-size: 20px;
  line-height: 11px;
  font-weight: normal;
  width: 11px;
  height: 11px;
  margin: 0;
  text-align: center;
}
#x-container .x-radio label .radio-label-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
#x-container .x-radio label:hover .radio-icon {
  color: #ccc;
}
#x-container .x-radio input:checked ~ label .radio-icon {
  border-color: #2ea2cc;
  color: #2ea2cc;
}
#x-container .x-checkbox label {
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
#x-container .x-checkbox label .checkbox-icon {
  display: inline-block;
  border: 2px solid #ccc;
  background: #fff;
  color: #fff;
  height: 11px;
  width: 11px;
  vertical-align: middle;
  -webkit-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -moz-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -o-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#x-container .x-checkbox label .checkbox-icon:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f147';
  font-family: dashicons;
  font-size: 19px;
  line-height: 15px;
  font-weight: normal;
  margin: -2px 0 0 -5px;
}
#x-container .x-checkbox label .checkbox-label-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
#x-container .x-checkbox label:hover .checkbox-icon {
  background: #ccc;
}
#x-container .x-checkbox input:disabled ~ label {
  cursor: default;
}
#x-container .x-checkbox input:disabled ~ label .checkbox-icon {
  border-color: #ccc;
  background: #fff;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#x-container .x-checkbox input:checked ~ label .checkbox-icon, #x-container .x-checkbox input:disabled:checked ~ label .checkbox-icon {
  background: #2ea2cc;
  border-color: #2ea2cc;
}
#x-container .x-switch {
  margin-bottom: 5.5px;
}
#x-container .x-switch label {
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
#x-container .x-switch label .switch-icon {
  display: inline-block;
  border: 2px solid #ccc;
  background: #ccc;
  color: #fff;
  height: 11px;
  width: 24px;
  vertical-align: middle;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -moz-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  -o-transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
  transition: 0.05s background ease-in-out, 0.05s border-color ease-in-out;
}
#x-container .x-switch label .switch-icon:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  speak: none;
  content: '';
  height: 11px;
  width: 11px;
  background: #FFF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
  transition: margin 0.1s linear;
}
#x-container .x-switch label .switch-label-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
#x-container .x-switch input:checked ~ label .switch-icon {
  border-color: #2ea2cc;
  background: #2ea2cc;
}
#x-container .x-switch input:checked ~ label .switch-icon:before {
  margin: 0 0 0 13px;
}
#x-container .x-select-editable {
  position: relative;
  width: 100%;
  height: 28px;
  max-width: 320px;
}
#x-container .x-select-editable select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  max-width: none;
}
#x-container .x-select-editable input[type='text'] {
  background: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  border: none;
  margin: 0;
  line-height: 18px;
  height: 18px;
  padding: 0 0 0 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#x-container .x-range {
  max-width: 320px;
}
#x-container .x-range input[type="text"] {
  display: inline-block;
  float: left;
  width: 30px;
  text-align: center;
  padding: 0;
  background: #eee;
  border-color: #eee;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-top: -5px;
  font-family: Consolas,Monaco,monospace;
}
#x-container .x-range input[type="text"]:hover {
  border-color: #eee;
}
#x-container .x-range input[type="text"]:active, #x-container .x-range input[type="text"]:focus {
  border-color: #eee;
}
#x-container .x-range .x-range-slider {
  display: block;
  position: relative;
  height: 10px;
  margin: 4px 0 0 40px;
  background: #ddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#x-container .x-range .x-range-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin: -2px 0 0 -7px;
  cursor: pointer;
  outline: none;
  background: #666;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
#x-container .x-range .x-range-slider .ui-slider-handle.ui-state-focus {
  border-color: #444;
  background: #444;
}
#x-container .x-range .x-range-slider .ui-slider-range {
  position: absolute;
  display: block;
  z-index: 1;
  background: #2ea2cc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#x-container .x-range .x-range-slider .ui-slider-range.ui-slider-range-min {
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
#x-container .x-range .x-range-slider .ui-slider-range.ui-slider-range-max {
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
#x-container .x-range .x-range-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
#x-container .x-range .x-range-slider.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
#x-container .x-range .x-range-slider.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
#x-container .x-range .x-range-slider.ui-slider-vertical {
  width: 10px;
  height: 100px;
}
#x-container .x-range .x-range-slider.ui-slider-vertical .ui-slider-handle {
  margin: 0 0 -5px -2px;
}
#x-container .x-range .x-range-slider.ui-slider-vertical .ui-slider-range {
  width: 10px;
  margin: 0 0 -2px -2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#x-container .x-range .x-range-slider.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
#x-container .x-range .x-range-slider.ui-slider-vertical .ui-slider-range-max {
  top: 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
#x-container .x-media {
  display: inline-block;
  min-width: 320px;
}
#x-container .x-media input {
  margin: 0 5px 5px 0;
  max-width: none;
  width: -webkit-calc(100% - 88px);
  width: calc(100% - 88px);
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-media .x-media-buttons {
  display: inline-block;
  margin: 0 0 5px 0;
}
#x-container .x-media .x-media-buttons .x-remove-media {
  display: none;
  margin-left: 5px;
  padding: 0 5px 1px;
}
#x-container .x-media.with-media input {
  width: -webkit-calc(100% - 123px);
  width: calc(100% - 123px);
}
#x-container .x-media.with-media .x-remove-media {
  display: inline-block;
}
#x-container .x-media-preview {
  width: 100%;
}
#x-container .x-media-preview a {
  display: block;
}
#x-container .x-media-preview img {
  height: auto;
  width: 100%;
  vertical-align: middle;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC);
}
#x-container .x-control-radio label, #x-container .x-control-checkbox label, #x-container .x-control-multi-check label, #x-container .x-control-switch label, #x-container .x-control-multi-switch label {
  font-weight: bold;
}
#x-container .x-control-measurement input, #x-container .x-control-measurement select {
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-control-measurement input {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  max-width: 260px;
}
#x-container .x-control-measurement select {
  width: 60px;
}
#x-container .x-control-sorter {
  *zoom: 1;
}
#x-container .x-control-sorter:before, #x-container .x-control-sorter:after {
  content: "";
  display: table;
}
#x-container .x-control-sorter:after {
  clear: both;
}
#x-container .x-control-sorter .x-sorter-group {
  background: #fff;
  border: 1px solid #dedede;
  min-height: 70px;
  padding: 10px;
  min-width: 120px;
  max-width: 213px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#x-container .x-control-sorter .x-sorter-group-heading {
  text-align: center;
  background: #f5f5f5;
  border-bottom: 1px solid #dedede;
  margin: -10px -10px 0 -10px;
}
#x-container .x-control-sorter .x-sorter-group-heading h3 {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  height: 33px;
  line-height: 33px;
}
#x-container .x-control-sorter .x-sorter-item {
  cursor: move;
  margin: 10px 0 0 0;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #dedede;
  font-size: 12px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
  -o-transition: color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
}
#x-container .x-control-sorter .x-sorter-item:hover {
  color: #444;
  border-color: #999;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#x-container .x-control-sorter .x-sorter-placeholder {
  margin: 10px 0 0 0;
  background: #fff;
  border: 2px dashed #dedede;
  height: 31px;
  line-height: 31px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
#x-container .x-control-sorter .x-sorter-placeholder:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: 'Place here';
  color: #dedede;
  font-weight: bold;
  line-height: 31px;
  text-align: center;
}
#x-container .x-control-slides .x-slides {
  max-width: 320px;
  margin: 0;
}
#x-container .x-control-slides .x-slide {
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  position: relative;
}
#x-container .x-control-slides .x-slide-header {
  background: #f5f5f5;
  color: #444;
  height: 30px;
  cursor: move;
}
#x-container .x-control-slides .x-slide-header strong {
  padding: 0 10px;
  line-height: 30px;
  font-weight: bold;
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#x-container .x-control-slides .x-slide-body {
  border-top: 1px solid #dedede;
  padding: 10px;
}
#x-container .x-control-slides .x-slide-body > div {
  margin-bottom: 10px;
}
#x-container .x-control-slides .x-slide-body > div:last-child {
  margin-bottom: 0;
}
#x-container .x-control-slides .x-slide-body input, #x-container .x-control-slides .x-slide-body textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#x-container .x-control-slides .x-slide-body input {
  max-width: none;
}
#x-container .x-control-slides .x-slide-body .x-media {
  min-width: 200px;
  width: 100%;
}
#x-container .x-control-slides .x-slide-body .x-media input {
  max-width: 210px;
  margin-bottom: 0;
}
#x-container .x-control-slides .x-slide-body .x-media .x-media-buttons {
  margin-bottom: 0px;
}
#x-container .x-control-slides .x-slide-body .x-media.with-media input {
  max-width: 175px;
  margin-bottom: 5px;
}
#x-container .x-control-slides .x-slide-body .x-media.with-media .x-media-buttons {
  margin-bottom: 5px;
}
#x-container .x-control-slides .x-slide-buttons {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 32px;
  overflow: hidden;
}
#x-container .x-control-slides .x-slide-buttons .x-slide-delete {
  margin: 0;
  height: 32px;
  line-height: 30px;
  border-color: #ccc;
  padding: 0 5px 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#x-container .x-control-slides .x-slide-buttons .x-slide-delete .dashicons {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
#x-container .x-control-slides .x-slide-buttons .x-slide-delete:hover .dashicons {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#x-container .x-control-slides .x-slide-placeholder {
  background: #fff;
  border: 2px dashed #dedede;
  height: 28px;
  margin-bottom: 10px;
}
#x-container .x-control-typography {
  *zoom: 1;
}
#x-container .x-control-typography:before, #x-container .x-control-typography:after {
  content: "";
  display: table;
}
#x-container .x-control-typography:after {
  clear: both;
}
#x-container .x-control-typography .x-typography-family, #x-container .x-control-typography .x-typography-fallback, #x-container .x-control-typography .x-typography-variant, #x-container .x-control-typography .x-typography-size, #x-container .x-control-typography .x-typography-height {
  float: left;
  display: inline;
  margin: 0 5px 5px 0;
}
#x-container .x-control-typography .x-typography-family, #x-container .x-control-typography .x-typography-fallback, #x-container .x-control-typography .x-typography-variant {
  width: 50%;
  max-width: 330px;
}
#x-container .x-control-typography .x-typography-fallback {
  margin-right: 0;
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-control-typography .x-typography-size {
  margin-right: 5px;
  width: 25%;
  max-width: 170px;
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-control-typography .x-typography-height {
  margin-right: 0;
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
  max-width: 155px;
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-control-typography .x-typography-preview {
  margin: 0 0 5px 0;
  padding: 0.5em;
  min-height: 50px;
  overflow: hidden;
  border-color: #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#x-container .x-control-typography > div h4 {
  font-size: 13px;
  line-height: 20px;
  margin: 5px 0;
  cursor: pointer;
  color: #444;
}
#x-container .x-control-typography > div h4 .dashicons {
  display: inline-block;
  width: 13px;
  height: 13px;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
  margin: 0 0 0 2.5px;
  text-align: left;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
}
#x-container .x-control-typography > div.active .dashicons {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
#x-container .x-control-typography > div.active.x-typography-web-font-variants {
  margin-bottom: 10px;
}
#x-container .x-control-background {
  *zoom: 1;
}
#x-container .x-control-background:before, #x-container .x-control-background:after {
  content: "";
  display: table;
}
#x-container .x-control-background:after {
  clear: both;
}
#x-container .x-control-background .wp-picker-container {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  width: -webkit-calc(55% - 10px);
  width: calc(55% - 10px);
}
#x-container .x-control-background .x-media {
  display: inline-block;
  float: left;
  margin-right: 5px;
  min-width: 45%;
  width: -webkit-calc(45% - 5px);
  width: calc(45% - 5px);
}
#x-container .x-control-background .x-media.with-media ~ .x-media-preview, #x-container .x-control-background .x-media.with-media ~ .x-background-display-options {
  display: block;
}
#x-container .x-control-background .x-media-preview {
  display: none;
  margin-bottom: 5px;
}
#x-container .x-control-background .x-background-display-options {
  display: none;
}
#x-container .x-control-background .x-background-display-options .x-select-editable {
  float: left;
  display: inline;
  margin: 0 5px 5px 0;
  width: 50%;
  max-width: 330px;
}
#x-container .x-control-background .x-background-display-options .x-select-editable:nth-child(even) {
  margin-right: 0;
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
}
#x-container .x-control-taxonomies .x-taxonomies-terms {
  *zoom: 1;
}
#x-container .x-control-taxonomies .x-taxonomies-terms:before, #x-container .x-control-taxonomies .x-taxonomies-terms:after {
  content: "";
  display: table;
}
#x-container .x-control-taxonomies .x-taxonomies-terms:after {
  clear: both;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term {
  font-size: 12px;
  margin: 0 5px 5px 0;
  padding: 0px 15px;
  cursor: move;
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term .dashicons {
  display: inline-block;
  line-height: 26px;
  height: 26px;
  width: 10px;
  padding: 0;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term .icon-remove {
  font-size: 18px;
  margin-left: -10px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term:hover, #x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term:active {
  padding: 0px 12px 0px 9px;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term:hover .icon-remove, #x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term:active .icon-remove {
  margin-left: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon {
  padding: 0px 10px;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon .icon-taxonomy {
  font-size: 14px;
  margin-right: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon:hover, #x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon:active {
  padding: 0px 16px 0px 12px;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon:hover .icon-taxonomy, #x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term.with-icon:active .icon-taxonomy {
  width: 0px;
  margin-right: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#x-container .x-control-taxonomies .x-taxonomies-terms .x-taxonomies-term-placeholder {
  background: #fdfdfd;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 0 5px 5px 0;
  line-height: 22px;
  border: 2px dashed #dedede;
  color: #bebebe;
  padding: 0px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post, #x-container .x-control-posts .x-posts-selected .x-post-placeholder {
  background: #fff;
  border: 1px solid #dedede;
  cursor: move;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  *zoom: 1;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post:before, #x-container .x-control-posts .x-posts-selected .x-selected-post:after, #x-container .x-control-posts .x-posts-selected .x-post-placeholder:before, #x-container .x-control-posts .x-posts-selected .x-post-placeholder:after {
  content: "";
  display: table;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post:after, #x-container .x-control-posts .x-posts-selected .x-post-placeholder:after {
  clear: both;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-image, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-image {
  float: left;
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: -5px 10px -5px -5px;
  background: #f1f1f1;
  position: relative;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-image .dashicons, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-image .dashicons {
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  color: #bbb;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-image img, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-image img {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 56px;
  width: 56px;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info {
  float: left;
  display: inline-block;
  width: -webkit-calc(100% - 65px);
  width: calc(100% - 65px);
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-name, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name {
  font-weight: bold;
  line-height: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-name a, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name a {
  text-decoration: none;
  color: #444;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-name a:active, #x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-name a:hover, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name a:active, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name a:hover {
  color: #2ea2cc;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-name a .untitled, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name a .untitled {
  color: #bbb;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-date, #x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-author, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-date, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-author {
  color: #777;
  cursor: text;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-info .x-post-date:after, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-date:after {
  margin-right: 5px;
  content: ',';
}
#x-container .x-control-posts .x-posts-selected .x-selected-post .x-post-remove, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-remove {
  position: absolute;
  bottom: 5px;
  right: 0;
  line-height: 24px;
  text-decoration: none;
  display: none;
  background: #fff;
  padding: 0 10px;
}
#x-container .x-control-posts .x-posts-selected .x-selected-post:hover .x-post-remove, #x-container .x-control-posts .x-posts-selected .x-post-placeholder:hover .x-post-remove {
  display: inline-block;
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder {
  background: #fafafa;
  border: 2px dashed #dedede;
  padding: 4px 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-image {
  margin-left: -6px;
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-image img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info a {
  color: #999;
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info a .untitled {
  color: #999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-name a, #x-container .x-control-posts .x-posts-selected .x-post-placeholder .x-post-info .x-post-meta {
  color: #999;
}
#x-container .x-control-link > input {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 50%;
}
#x-container .x-control-link > input:nth-child(even) {
  margin-right: 0;
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
}
#x-container .x-control-link > input.x-link-url {
  font-family: Consolas,Monaco,monospace;
  direction: ltr;
}
#x-container .x-control-gallery .x-gallery-shortcode {
  margin: 0 0 5px;
}
#x-container .x-control-gallery .x-gallery-list {
  margin: 0;
  *zoom: 1;
}
#x-container .x-control-gallery .x-gallery-list:before, #x-container .x-control-gallery .x-gallery-list:after {
  content: "";
  display: table;
}
#x-container .x-control-gallery .x-gallery-list:after {
  clear: both;
}
#x-container .x-control-gallery .x-gallery-list li {
  margin: 0 5px 5px 0;
  float: left;
  display: inline;
  max-width: 78px;
  width: 15.66666666666667%;
}
#x-container .x-control-gallery img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
#x-container .x-control-gallery .x-gallery-buttons .x-gallery-edit {
  margin-right: 5px;
}
#x-container .x-control-gallery .x-gallery-buttons .x-gallery-edit, #x-container .x-control-gallery .x-gallery-buttons .x-gallery-delete {
  display: none;
}
#x-container .x-control-gallery .x-gallery-list ~ .x-gallery-buttons .x-gallery-create {
  display: none;
}
#x-container .x-control-gallery .x-gallery-list ~ .x-gallery-buttons .x-gallery-delete, #x-container .x-control-gallery .x-gallery-list ~ .x-gallery-buttons .x-gallery-edit {
  display: inline-block;
}
#x-container .x-control-image .x-image-option, #x-container .x-control-multi-image .x-image-option {
  display: block;
  margin: 0 0 5px 0;
}
#x-container .x-control-image .x-image-option:last-child, #x-container .x-control-multi-image .x-image-option:last-child {
  margin: 0;
}
#x-container .x-control-image .x-image-option.inline, #x-container .x-control-multi-image .x-image-option.inline {
  display: inline-block;
  margin: 0 5px 5px 0;
}
#x-container .x-control-image .x-image-option.inline:last-child, #x-container .x-control-multi-image .x-image-option.inline:last-child {
  margin: 0;
}
#x-container .x-control-image .x-image-option img, #x-container .x-control-multi-image .x-image-option img {
  border: 1px solid #fff;
}
#x-container .x-control-image .x-image-option input, #x-container .x-control-multi-image .x-image-option input {
  display: none;
}
#x-container .x-control-image .x-image-option input:checked + label, #x-container .x-control-multi-image .x-image-option input:checked + label {
  border-color: #2ea2cc;
  position: relative;
}
#x-container .x-control-image .x-image-option input:checked + label img, #x-container .x-control-multi-image .x-image-option input:checked + label img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#x-container .x-control-image .x-image-option input:checked + label:before, #x-container .x-control-multi-image .x-image-option input:checked + label:before {
  position: absolute;
  top: 0;
  left: 100%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  font: 400 10px/10px dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f147";
  width: 10px;
  height: 10px;
  margin: -2px 0 0 -8px;
  background: #2ea2cc;
  color: #fff;
  z-index: 2;
}
#x-container .x-control-image .x-image-option input:checked + label:after, #x-container .x-control-multi-image .x-image-option input:checked + label:after {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 100%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  font: 400 9px/9px dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  width: 9px;
  height: 9px;
  margin: -2px 0 0 -9px;
  background: #fff;
}
#x-container .x-control-image .x-image-option label, #x-container .x-control-multi-image .x-image-option label {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  border: 2px solid #ccc;
  padding: 0;
}
#x-container .x-control-image .x-image-option label img, #x-container .x-control-multi-image .x-image-option label img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC);
}
#x-container .x-control-image .x-image-option label:hover img, #x-container .x-control-multi-image .x-image-option label:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
#x-container .x-control-multi-image input:checked + label:hover:before {
  content: "\f460";
}
#x-container .x-control-info {
  background: #fefefe;
  color: #444;
  border: 1px solid #ddd;
  padding: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#x-container .x-control-backup .x-last-backup {
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 10px;
}
#x-container .x-control-backup .x-restore-button {
  margin-left: 5px;
}
#x-container .x-control-transfer .x-transfer-data {
  display: block;
  width: 507px;
}
#x-container .x-control-transfer .x-import-button {
  margin: 5px 0 0 0;
}
#x-container .wp-picker-container {
  display: inline-block;
  position: relative;
}
#x-container .wp-picker-container .wp-color-result {
  background: #f1f1f1;
  border: 0;
  cursor: pointer;
  height: 28px;
  margin: 0;
  padding: 0 0 0 28px;
  vertical-align: middle;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
  -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#x-container .wp-picker-container .wp-color-result:after {
  content: attr(title);
  background: rgba(239, 239, 239, 0.8);
  color: #444;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  height: 24px;
  padding: 0 8px;
  margin: 2px 2px 0 0;
  -webkit-border-radius: 0 1.5px 1.5px 0;
  -moz-border-radius: 0 1.5px 1.5px 0;
  -ms-border-radius: 0 1.5px 1.5px 0;
  -o-border-radius: 0 1.5px 1.5px 0;
  border-radius: 0 1.5px 1.5px 0;
  -webkit-box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.1325);
  -moz-box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.1325);
  box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.1325);
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
#x-container .wp-picker-container .wp-color-result:hover:after {
  background: rgba(250, 250, 250, 0.8);
}
#x-container .wp-picker-container .wp-color-result.wp-picker-open:after {
  content: attr(data-current);
}
#x-container .wp-picker-container .wp-color-result.wp-picker-open + .wp-picker-input-wrap {
  display: inline-block;
  vertical-align: top;
}
#x-container .wp-picker-container .wp-picker-input-wrap {
  margin-left: 5px;
}
#x-container .wp-picker-container .wp-picker-input-wrap .wp-picker-default, #x-container .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  font-size: 12px;
  margin-left: 5px;
}
#x-container .wp-picker-container .iris-square-slider .ui-slider-handle:focus {
  background-color: #555;
}
#x-container .wp-picker-container .iris-picker {
  background: #fafafa;
  border-color: #ccc;
  margin-top: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: absolute;
  width: 241px !important;
  z-index: 9999;
}
#x-container .wp-picker-container .iris-picker .iris-square {
  margin-right: 10px;
}
#x-container .wp-picker-container .iris-picker .iris-square, #x-container .wp-picker-container .iris-picker .iris-slider, #x-container .wp-picker-container .iris-picker .iris-square-inner, #x-container .wp-picker-container .iris-picker .iris-palette {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
  -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1325);
}
#x-container .wp-picker-container input[type=text].wp-color-picker {
  font-size: 12px;
  width: 70px;
  text-align: center;
}
#x-container .wp-picker-container input[type=text].wp-color-picker:focus::-webkit-input-placeholder {
  color: transparent;
}
#x-container .wp-picker-container input[type=text].wp-color-picker:-moz-placeholder {
  color: #999;
}
#x-container .wp-picker-container input[type=text].wp-color-picker.iris-error {
  background-color: #fff;
  border-color: #c00;
  color: #444;
}
#x-container #x-header {
  padding: 10px 20px;
  background-color: #222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(34, 34, 34, 0.9))), url(../img/congruent_outline.png);
  background-image: -webkit-linear-gradient(transparent, rgba(34, 34, 34, 0.9)), url(../img/congruent_outline.png);
  background-image: -moz-linear-gradient(transparent, rgba(34, 34, 34, 0.9)), url(../img/congruent_outline.png);
  background-image: -o-linear-gradient(transparent, rgba(34, 34, 34, 0.9)), url(../img/congruent_outline.png);
  background-image: linear-gradient(transparent, rgba(34, 34, 34, 0.9)), url(../img/congruent_outline.png);
  *zoom: 1;
}
#x-container #x-header:before, #x-container #x-header:after {
  content: "";
  display: table;
}
#x-container #x-header:after {
  clear: both;
}
#x-container #x-header #x-theme-name {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  margin: 15px 5px 15px 0;
}
#x-container #x-header #x-theme-version {
  color: #666;
  color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
}
#x-container #x-header #x-icon {
  float: right;
  margin: 15px 0 0 0;
}
#x-container #x-top-bar {
  background: #333;
  padding: 7.5px 20px;
  *zoom: 1;
  position: relative;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
#x-container #x-top-bar:before, #x-container #x-top-bar:after {
  content: "";
  display: table;
}
#x-container #x-top-bar:after {
  clear: both;
}
#x-container #x-top-bar #x-top-links {
  float: left;
  padding-left: 43px;
}
#x-container #x-top-bar #x-top-links a {
  display: inline-block;
  margin-right: 10px;
  line-height: 28px;
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
}
#x-container #x-top-bar #x-top-links a:hover {
  color: #2ea2cc;
}
#x-container #x-top-bar #x-top-links a:last-child {
  margin-right: 0;
}
#x-container #x-top-bar #x-top-links a .dashicons {
  line-height: 28px;
  height: 28px;
}
#x-container #x-top-bar #x-top-links a#x-layout-toggle {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 43px;
  width: 46px;
  background: rgba(255, 255, 255, 0.075);
  text-align: center;
}
#x-container #x-top-bar #x-top-links a#x-layout-toggle:hover {
  background: rgba(255, 255, 255, 0.05);
}
#x-container #x-top-bar #x-top-links a#x-layout-toggle .dashicons {
  line-height: 43px;
  height: 43px;
}
#x-container #x-top-bar #x-top-buttons {
  float: right;
}
#x-container #x-nav {
  float: left;
  width: 160px;
  margin-left: 0;
  z-index: 1;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#x-container #x-nav ul {
  margin: 0;
}
#x-container #x-nav li {
  margin: 0;
}
#x-container #x-nav a {
  display: block;
  padding: 0 5px 0 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  text-decoration: none;
  color: #222;
  text-indent: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  position: relative;
}
#x-container #x-nav a .dashicons {
  display: inline-block;
  width: auto;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  margin-right: 5px;
}
#x-container #x-nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#x-container #x-nav a:after {
  content: '';
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: transparent;
}
#x-container #x-nav a.selected {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}
#x-container #x-nav a.selected:after {
  background: #fff;
}
#x-container #x-main-content {
  background: #fff;
  min-height: 400px;
  margin-left: 160px;
  -webkit-transition: margin 0.2s linear;
  -moz-transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  transition: margin 0.2s linear;
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.05);
}
#x-container .x-group {
  padding: 20px;
  display: none;
}
#x-container .x-group .x-group-heading {
  border-bottom: 2px solid #f1f1f1;
  margin: 0;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
#x-container .x-group .x-group-heading h2 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
#x-container .x-group .x-group-heading .x-group-desc {
  margin: 10px 0 0 0;
  color: #444;
}
#x-container .x-group .x-group-heading h2, #x-container .x-group .x-group-heading .x-group-desc {
  max-width: 700px;
  -webkit-transition: max-width 0.2s linear;
  -moz-transition: max-width 0.2s linear;
  -o-transition: max-width 0.2s linear;
  transition: max-width 0.2s linear;
}
#x-container .x-option {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f1f1f1;
  *zoom: 1;
}
#x-container .x-option:before, #x-container .x-option:after {
  content: "";
  display: table;
}
#x-container .x-option:after {
  clear: both;
}
#x-container .x-option:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#x-container .x-option .x-desc {
  color: #aaa;
  margin: 10px 0 0;
}
#x-container .x-option .x-desc:first-child {
  margin-top: 0;
}
#x-container .x-option .x-option-explain {
  float: left;
  display: inline;
  width: 200px;
}
#x-container .x-option .x-option-explain .x-option-name {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #444;
  padding-right: 10px;
}
#x-container .x-option .x-option-explain .x-desc {
  margin: 0;
  padding-right: 10px;
}
#x-container .x-option .x-option-explain .x-desc:first-child {
  margin-top: -5px;
}
#x-container .x-option .x-controls {
  float: left;
  display: inline;
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  max-width: 500px;
  margin: 0;
  -webkit-transition: max-width 0.2s linear;
  -moz-transition: max-width 0.2s linear;
  -o-transition: max-width 0.2s linear;
  transition: max-width 0.2s linear;
}
#x-container .x-option .x-controls:only-child {
  width: 100%;
  max-width: 700px;
}
#x-container .x-option .x-controls .x-control-explain {
  margin-bottom: 10px;
}
#x-container .x-option .x-controls .x-control-explain .x-control-name {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #444;
}
#x-container .x-option .x-controls .x-control-explain .x-desc {
  margin: 0;
}
#x-container .x-option .x-controls .x-control + .x-control {
  margin-top: 10px;
}
#x-container .x-option.x-option-text .x-option-explain .x-option-name, #x-container .x-option.x-option-select .x-option-explain .x-option-name, #x-container .x-option.x-option-media .x-option-explain .x-option-name {
  padding-top: 5px;
}
#x-container .x-option.x-option-textarea .x-option-explain .x-option-name {
  padding-top: 6px;
}
#x-container #x-save-bar {
  background: #e1e1e1;
  padding: 10px 20px;
  height: 28px;
  *zoom: 1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
#x-container #x-save-bar:before, #x-container #x-save-bar:after {
  content: "";
  display: table;
}
#x-container #x-save-bar:after {
  clear: both;
}
#x-container #x-save-bar #x-reset-button, #x-container #x-save-bar .x-ajax-reset-img {
  float: left;
}
#x-container #x-save-bar #x-save-button-bottom, #x-container #x-save-bar .x-ajax-save-img {
  float: right;
}
#x-container #x-js-warning {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #bbb;
  font-weight: normal;
  text-align: center;
  padding: 80px 80px;
  margin: 0;
  line-height: 1.5;
  z-index: 9999;
}
#x-container .x-popup {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
}
#x-container .x-popup .x-popup-message {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  padding: 10px 20px 10px 40.5px;
}
#x-container .x-popup#x-popup-save .x-popup-message, #x-container .x-popup#x-popup-reset .x-popup-message, #x-container .x-popup#x-popup-backup .x-popup-message {
  background-image: url(../img/save-success.png);
}
#x-container .x-popup#x-popup-error .x-popup-message {
  background-image: url(../img/save-error.png);
}
#x-container .x-ajax-loading-img {
  display: none;
  margin: 5px 5px 0;
}
#x-container.x-layout-nav-collapsed #x-nav {
  width: 46px;
}
#x-container.x-layout-nav-collapsed #x-nav a .x-group-name {
  font-size: 0px;
  text-indent: -9999px;
}
#x-container.x-layout-nav-collapsed #x-main-content {
  margin-left: 46px;
}
#x-container.x-layout-nav-collapsed .x-group-heading h2, #x-container.x-layout-nav-collapsed .x-group-heading .x-group-desc {
  max-width: 814px;
}
#x-container.x-layout-nav-collapsed .x-option .x-controls {
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  max-width: 614px;
}
#x-container.x-layout-nav-collapsed .x-option .x-controls:only-child {
  width: 100%;
  max-width: 814px;
}
#x-container.x-layout-nav-hidden #x-top-bar #x-layout-toggle {
  color: #2ea2cc;
}
#x-container.x-layout-nav-hidden #x-nav {
  width: 0px;
  margin-left: -9999px;
}
#x-container.x-layout-nav-hidden #x-nav a {
  font-size: 0px;
  text-indent: -9999px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#x-container.x-layout-nav-hidden #x-main-content {
  margin-left: 0;
}
#x-container.x-layout-nav-hidden .x-group-heading h2, #x-container.x-layout-nav-hidden .x-group-heading .x-group-desc {
  max-width: 860px;
}
#x-container.x-layout-nav-hidden .x-option .x-controls {
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  max-width: 660px;
}
#x-container.x-layout-nav-hidden .x-option .x-controls:only-child {
  width: 100%;
  max-width: 860px;
}

@media screen and (max-width: 782px) {
  #x-container {
    margin: 10px 10px 0 0;
  }
  #x-container .button {
    padding-top: 0;
    padding-bottom: 1px;
    font-size: 13px;
    line-height: 26px;
    vertical-align: top;
    height: 28px;
    margin-bottom: 0;
  }
  #x-container .x-media input {
    width: -webkit-calc(100% - 96px);
    width: calc(100% - 96px);
  }
  #x-container .x-media.with-media input {
    width: -webkit-calc(100% - 131px);
    width: calc(100% - 131px);
  }
  #x-container .x-background .x-media, #x-container .x-background .wp-picker-container {
    display: block;
    float: none;
    margin-bottom: 5px;
    width: 100%;
  }
  #x-container .x-background .x-media {
    margin-right: 0;
    max-width: 400px;
  }
  #x-container .x-option .x-option-explain, #x-container.x-layout-nav-collapsed .x-option .x-option-explain, #x-container.x-layout-nav-hidden .x-option .x-option-explain {
    float: none;
    display: block;
    width: 100%;
    max-width: none;
  }
  #x-container .x-option .x-controls, #x-container.x-layout-nav-collapsed .x-option .x-controls, #x-container.x-layout-nav-hidden .x-option .x-controls {
    float: none;
    display: block;
    width: 100%;
    max-width: none;
    margin: 10px 0 0 0;
  }
  #x-container .x-option .x-controls:only-child, #x-container.x-layout-nav-collapsed .x-option .x-controls:only-child, #x-container.x-layout-nav-hidden .x-option .x-controls:only-child {
    max-width: none;
  }
  #x-container .x-option.x-option-text .x-option-explain .x-option-name, #x-container .x-option.x-option-select .x-option-explain .x-option-name, #x-container .x-option.x-option-slider .x-option-explain .x-option-name, #x-container .x-option.x-option-textarea .x-option-explain .x-option-name, #x-container.x-layout-nav-collapsed .x-option.x-option-text .x-option-explain .x-option-name, #x-container.x-layout-nav-collapsed .x-option.x-option-select .x-option-explain .x-option-name, #x-container.x-layout-nav-collapsed .x-option.x-option-slider .x-option-explain .x-option-name, #x-container.x-layout-nav-collapsed .x-option.x-option-textarea .x-option-explain .x-option-name, #x-container.x-layout-nav-hidden .x-option.x-option-text .x-option-explain .x-option-name, #x-container.x-layout-nav-hidden .x-option.x-option-select .x-option-explain .x-option-name, #x-container.x-layout-nav-hidden .x-option.x-option-slider .x-option-explain .x-option-name, #x-container.x-layout-nav-hidden .x-option.x-option-textarea .x-option-explain .x-option-name {
    padding-top: 0;
  }
}
