@charset "UTF-8";




////////////////////////////////////////////
//	SASS IMPORTS                          //
////////////////////////////////////////////
@import "compass";
@import "my-mixins";
@import "colors";




////////////////////////////////////////////
//	SASS VARIABLES                        //
////////////////////////////////////////////



#x-container {
	background: #fafafa;
	max-width: 960px;
	min-width: 480px;
	margin: 20px 20px 0 0;
	@include box-shadow(0 0 1px rgba(0,0,0,0.4));
	position: relative;

	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: #666;
	
	a {
		outline: 0;
		@include transition(.2s linear,color .1s linear);
	}
	h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-weight: bold;
	}
	.button, .button-primary {
		font-weight: bold;
		.dashicons {
			display: inline-block;
			width: auto;
			height: 26px;
			font-size: 18px;
			line-height: 26px;
			margin: 0;
		}
	}
	input, textarea, select, button {
		margin: 0;
		vertical-align: top;
	}
	input[type='text'], textarea, select {
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		width: 100%;
		max-width: 320px;
		padding: 0 8px;
		// border: 1px solid #ccc;
		// @include box-shadow(none);
		// @include border-radius(3px);
		// &:hover { border-color: #bbb; }
		// &:active, &:focus { border-color: #2ea2cc; }
		@include placeholder {
			font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
		}
	}
	input[type='text'], textarea {
		&[readonly] {
			background-color: #fafafa;
		}
	}
	textarea {
		line-height: 1.5;
		height: auto;
		width: 100%;
		max-width: none;
		padding: 5px 8px;
		resize: both;
	}
	select { padding: 4px; }
	option { max-width: 320px; }
	input[type='radio'] {
		border: 2px solid #ccc;
		background: #fefefe;
		height: 15px;
		width: 15px;
		min-width: 15px;
		vertical-align: middle;
		@include box-shadow(none);
		&:hover:before {
			float: left;
			display: inline-block;
			vertical-align: middle;
			font: 400 24px/15px dashicons;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\2022';
			text-indent: -9999px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			background: #ccc;
			width: 5px;
			height: 5px;
			margin: 3px;
		}
		&:checked {
			border-color: #2ea2cc;
			&:before {
				background: #2ea2cc;
				width: 5px;
				height: 5px;
				margin: 3px;
				line-height: 15px;
			}
		}
		+ label {
			font-size: 13px;
			padding-left: 3px;
		}
	}
	input[type='checkbox'] {
		border: 2px solid #ccc;
		background: #fdfdfd;
		color: #555;
		vertical-align: middle;
		height: 15px;
		width: 15px;
		min-width: 15px;
		@include box-shadow(none);
		&:hover {
			background: #ccc;
			&:before {
				float: left;
				display: inline-block;
				vertical-align: middle;
				font: 400 19px/15px dashicons;
				speak: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f147";
				width: 15px;
				height: 15px;
				margin: -2px 0 0 -5px;
				color: #fff;
			}
		}
		&:checked {
			background: #2ea2cc;
			border-color: #2ea2cc;
			&:before {
				font: 400 19px/15px dashicons;
				width: 15px;
				height: 15px;
				margin: -2px 0 0 -5px;
				color: #fff;
			}
		}
	}
	.hide { display: none; }

	.tooltip {
		position: absolute;
		background: #000;
		padding: 10px;
		color: #fff;
		display: inline-block;
		background: #444;
		color: #fff;
		font-size: 11px;
		padding: 0 8px;
		line-height: 23px;
		margin-top: -28px;
		@include border-radius(3px);
		z-index: 9999;
		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-width: 6px 4px;
			border-style: solid;
			border-color: #444 transparent transparent transparent;
			top: 100%;
			left: 6px;
		}
	}

	.x-radio, .x-checkbox, .x-switch {
		margin: 0 0 3px 0;
		font-size: 13px;
		line-height: 15px;
		height: 17px;
		vertical-align: middle;
		&:last-child { margin-bottom: 0; }
		&.inline {
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 5.5px;
		}
		&.col-2, &.col-3, &.col-4 {
			display: inline-block;
			margin-right: 10px;
			@include ellipsis(nowrap);
		}
		&.col-2 { @include calc( width, "50% - 10px" ); }
		&.col-3 { @include calc( width, "33% - 10px" ); }
		&.col-4 { @include calc( width, "25% - 10px" ); }
		input { display: none; }
	}
	.x-radio {
		label {
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			.radio-icon {
				display: inline-block;
				border: 2px solid #ccc;
				background: #fff;
				color: #fff;
				height: 11px;
				width: 11px;
				vertical-align: middle;
				@include border-radius(30px);
				@include transition(.05s color ease-in-out,.05s background ease-in-out,.05s border-color ease-in-out);
				@include user-select(none);
				&:before {
					float: left;
					display: inline-block;
					vertical-align: middle;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: '\2022';
					font-size: 20px;
					line-height: 11px;
					font-weight: normal;
					width: 11px;
					height: 11px;
					margin: 0;
					text-align: center;
				}
			}
			.radio-label-text {
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
			}
			&:hover .radio-icon { color: #ccc; }
		}
		input:checked ~ label .radio-icon {
			border-color: #2ea2cc;
			color: #2ea2cc;
		}
	}
	.x-checkbox {
		label {
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			.checkbox-icon {
				display: inline-block;
				border: 2px solid #ccc;
				background: #fff;
				color: #fff;
				height: 11px;
				width: 11px;
				vertical-align: middle;
				@include transition(.05s background ease-in-out,.05s border-color ease-in-out);
				@include user-select(none);
				&:before {
					float: left;
					display: inline-block;
					vertical-align: middle;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: '\f147';
					font-family: dashicons;
					font-size: 19px;
					line-height: 15px;
					font-weight: normal;
					margin: -2px 0 0 -5px;
				}
			}
			.checkbox-label-text {
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
			}
			&:hover .checkbox-icon { background: #ccc; }
		}
		input:disabled ~ label {
			cursor: default;
			.checkbox-icon {
				border-color: #ccc;
				background: #fff;
				color: #fff;
				@include opacity(0.5);
			}
		}
		input:checked ~ label .checkbox-icon, input:disabled:checked ~ label .checkbox-icon {
			background: #2ea2cc;
			border-color: #2ea2cc;
		}
	}
	.x-switch {
		margin-bottom: 5.5px;
		label {
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			.switch-icon {
				display: inline-block;
				border: 2px solid #ccc;
				background: #ccc;
				color: #fff;
				height: 11px;
				width: 24px;
				vertical-align: middle;
				@include border-radius(30px);
				@include user-select(none);
				@include transition(.05s background ease-in-out,.05s border-color ease-in-out);
				&:before {
					float: left;
					display: inline-block;
					vertical-align: middle;
					speak: none;
					content: '';
					height: 11px;
					width: 11px;
					background: #FFF;
					@include border-radius(30px);
					@include transition(margin 0.1s linear);
				}
			}
			.switch-label-text {
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
			}
		}
		input:checked ~ label .switch-icon {
			border-color: #2ea2cc;
			background: #2ea2cc;
			&:before { margin: 0 0 0 13px; }
		}
	}
	.x-select-editable {
		position: relative;
		width: 100%;
		height: 28px;
		max-width: 320px;
		select {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			max-width: none;
		}
		input[type='text'] {
			background: #fff;
			position: absolute;
			top: 5px;
			left: 5px;
			bottom: 5px;
			@include calc( width, '100% - 32px' );
			border: none;
			margin: 0;
			line-height: 18px;
			height: 18px;
			padding: 0 0 0 4px;
			@include box-shadow(none);
		}
	}
	.x-range {
		max-width: 320px;
		input[type="text"] {
			display: inline-block;
			float: left;
			width: 30px;
			text-align: center;
			padding: 0;
			background: #eee;
			border-color: #eee;
			font-size: 13px;
			font-weight: bold;
			line-height: 20px;
			height: 20px;
			margin-top: -5px;
			font-family: Consolas,Monaco,monospace;
			&:hover { border-color: #eee; }
			&:active, &:focus { border-color: #eee; }
		}
		.x-range-slider {
			display: block;
			position: relative;
			height: 10px;
			margin: 4px 0 0 40px;
			background: #ddd;
			@include border-radius(20px);
			.ui-slider-handle {
				position: absolute;
				z-index: 2;
				width: 14px;
				height: 14px;
				margin: -2px 0 0 -7px;
				cursor: pointer;
				outline: none;
				background: #666;
				@include border-radius(20px);
				@include transition(background 0.2s linear);
				&.ui-state-focus {
					border-color: #444;
					background: #444;
				}
			}
			.ui-slider-range {
				position: absolute;
				display: block;
				z-index: 1;
				background: #2ea2cc;
				@include border-radius(20px);
				&.ui-slider-range-min { @include border-radius(20px 0 0 20px); }
				&.ui-slider-range-max { @include border-radius(0 20px 20px 0); }
			}
			&.ui-slider-horizontal {
				// .ui-slider-handle { top: 0; }
				.ui-slider-range { top: 0; height: 100%; }
				.ui-slider-range-min { left: 0; }
				.ui-slider-range-max { right: 0; }
			}
			&.ui-slider-vertical {
				width: 10px;
				height: 100px;
				.ui-slider-handle { margin: 0 0 -5px -2px; }
				.ui-slider-range { width: 10px; margin: 0 0 -2px -2px; @include border-radius(20px); }
				.ui-slider-range-min { bottom: 0; @include border-radius(0 0 20px 20px); }
				.ui-slider-range-max { top: 0; @include border-radius(20px 20px 0 0); }
			}
		}
	}
	.x-media {
		display: inline-block;
		min-width: 320px;
		input {
			margin: 0 5px 5px 0;
			max-width: none;
			@include calc( width, "100% - 88px" );
			font-family: Consolas,Monaco,monospace;
			direction: ltr;
		}
		.x-media-buttons {
			display: inline-block;
			margin: 0 0 5px 0;
			.x-remove-media {
				display: none;
				margin-left: 5px;
				padding: 0 5px 1px;
			}
		}
		&.with-media {
			input { @include calc( width, "100% - 123px" ); }
			.x-remove-media { display: inline-block; }
		}
	}
	.x-media-preview {
		width: 100%;
		a { display: block; }
		img {
			height: auto;
			width: 100%;
			// max-width: 480px;
			vertical-align: middle;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC);
		}
	}

	.x-control-radio, .x-control-checkbox, .x-control-multi-check, .x-control-switch, .x-control-multi-switch {
		label {
			font-weight: bold;
		}
	}
	.x-control-measurement {
		input, select {
			font-family: Consolas,Monaco,monospace;
			direction: ltr;
		}
		input { @include calc(width,"100% - 60px"); max-width: 260px; }
		select { width: 60px; }
	}
	.x-control-sorter {
		@include cf;
		.x-sorter-group {
			background: #fff;
			border: 1px solid #dedede;
			min-height: 70px;
			padding: 10px;
			min-width: 120px;
			max-width: 213px;
			display: block;
			float: left;
			margin: 0 10px 10px 0;
			@include box-shadow(0 1px 1px rgba(0,0,0,.04));
		}
		.x-sorter-group-heading {
			text-align: center;
			background: #f5f5f5;
			border-bottom: 1px solid #dedede;
			margin: -10px -10px 0 -10px;
			h3 {
				display: inline-block;
				margin: 0;
				font-size: 13px;
				height: 33px;
				line-height: 33px;
			}
		}
		.x-sorter-item {
			cursor: move;
			margin: 10px 0 0 0;
			padding: 0 10px;
			background: #fff;
			border: 1px solid #dedede;
			font-size: 12px;
			height: 33px;
			line-height: 33px;
			text-align: center;
			font-weight: bold;
			@include border-radius(3px);
			@include ellipsis(nowrap);
			@include transition(color 0.2s linear,border-color 0.2s linear,box-shadow 0.2s linear);
			&:hover {
				color: #444;
				border-color: #999;
				@include box-shadow(0 1px 1px rgba(0,0,0,.04));
			}
		}
		.x-sorter-placeholder {
			margin: 10px 0 0 0;
			background: #fff;
			border: 2px dashed #dedede;
			height: 31px;
			line-height: 31px;
			@include border-radius(3px);
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: 'Place here';
				color: #dedede;
				font-weight: bold;
				line-height: 31px;
				text-align: center;
			}
		}
	}
	.x-control-slides {
		.x-slides {
			max-width: 320px;
			margin: 0;
		}
		.x-slide {
			background: #fff;
			border: 1px solid #dedede;
			margin-bottom: 10px;
			@include box-shadow(0 1px 1px rgba(0,0,0,.04));
			position: relative;
		}
		.x-slide-header {
			background: #f5f5f5;
			color: #444;
			height: 30px;
			cursor: move;
			strong {
				padding: 0 10px;
				line-height: 30px;
				font-weight: bold;
				@include calc( width, '100% - 42px' );
				display: inline-block;
				@include ellipsis(nowrap);
			}
		}
		.x-slide-body {
			border-top: 1px solid #dedede;
			padding: 10px;
			> div { margin-bottom: 10px; &:last-child { margin-bottom: 0; } }
			input, textarea { @include box-shadow(none); }
			input { max-width: none; }
			.x-media {
				min-width: 200px;
				width: 100%;
				input { max-width: 210px; margin-bottom: 0; }
				.x-media-buttons { margin-bottom: 0px; }
				&.with-media {
					input { max-width: 175px; margin-bottom: 5px; }
					.x-media-buttons { margin-bottom: 5px; }
				}
			}
		}
		.x-slide-buttons {
			position: absolute;
			top: -1px;
			right: -1px;
			height: 32px;
			overflow: hidden;
			.x-slide-delete {
				margin: 0;
				height: 32px;
				line-height: 30px;
				border-color: #ccc;
				padding: 0 5px 1px;
				@include border-radius(0);
				.dashicons {
					display: inline-block;
					font-size: 18px;
					line-height: 30px;
					height: 30px;
					@include opacity(0.75);
				}
				&:hover .dashicons { @include opacity(1); }
			}
		}
		.x-slide-placeholder {
			background: #fff;
			border: 2px dashed #dedede;
			height: 28px;
			margin-bottom: 10px;
		}
	}
	.x-control-typography {
		@include cf;
		.x-typography-family, .x-typography-fallback, .x-typography-variant, .x-typography-size, .x-typography-height {
			float: left;
			display: inline;
			margin: 0 5px 5px 0;
		}
		.x-typography-family, .x-typography-fallback, .x-typography-variant {
			width: 50%;
			max-width: 330px;
		}
		.x-typography-fallback {
			margin-right: 0;
			@include calc(width,"50% - 5px");
			font-family: Consolas,Monaco,monospace;
			direction: ltr;
		}
		.x-typography-size {
			margin-right: 5px;
			width: 25%;
			max-width: 170px;
			font-family: Consolas,Monaco,monospace;
			direction: ltr;
		}
		.x-typography-height {
			margin-right: 0;
			@include calc(width,"25% - 10px");
			max-width: 155px;
			font-family: Consolas,Monaco,monospace;
			direction: ltr;
		}
		.x-typography-preview {
			margin: 0 0 5px 0;
			padding: 0.5em;
			min-height: 50px;
			overflow: hidden;
			border-color: #ddd;
			@include box-shadow(0 1px 1px rgba(0,0,0,.04));
		}
		> div {
			h4 {
				font-size: 13px;
				line-height: 20px;
				margin: 5px 0;
				cursor: pointer;
				color: #444;
				.dashicons {
					display: inline-block;
					width: 13px;
					height: 13px;
					font-size: 13px;
					line-height: 13px;
					vertical-align: middle;
					margin: 0 0 0 2.5px;
					text-align: left;
					@include transition(transform 0.2s linear);
				}
			}
			&.active {
				.dashicons { @include rotate(-180deg); }
				&.x-typography-web-font-variants { margin-bottom: 10px; }
			}
		}
	}
	.x-control-background {
		@include cf;
		.wp-picker-container {
			display: inline-block;
			float: left;
			margin-bottom: 5px;
			@include calc( width, "55% - 10px" ); 
		}
		.x-media {
			display: inline-block;
			float: left;
			margin-right: 5px;
			min-width: 45%;
			@include calc( width, "45% - 5px" ); 
			&.with-media {
				~ .x-media-preview, ~ .x-background-display-options {
					display: block;
				}
			}
		}
		.x-media-preview {
			display: none;
			margin-bottom: 5px;
		}
		.x-background-display-options {
			display: none;
			.x-select-editable {
				float: left;
				display: inline;
				margin: 0 5px 5px 0;
				width: 50%;
				max-width: 330px;
			}
			.x-select-editable:nth-child(even) {
				margin-right: 0;
				@include calc( width, "50% - 5px" );
			}
		}
	}
	.x-control-taxonomies {
		.x-taxonomies-terms {
			@include cf;
			.x-taxonomies-term {
				font-size: 12px;
				margin: 0 5px 5px 0;
				padding: 0px 15px;
				cursor: move;
				@include transition(padding 0.2s linear);
				.dashicons {
					display: inline-block;
					line-height: 26px;
					height: 26px;
					width: 10px;
					padding: 0;
					@include transition(.2s linear);
				}
				.icon-remove {
					font-size: 18px;
					margin-left: -10px;
					cursor: pointer;
					@include opacity(0);
				}
				&:hover, &:active {
					padding: 0px 12px 0px 9px;
					.icon-remove {
						margin-left: 0px;
						@include opacity(1);
					}
				}
				&.with-icon {
					padding: 0px 10px;
					.icon-taxonomy {
						font-size: 14px;
						margin-right: 8px;
						@include opacity(0.75);
					}
					&:hover, &:active {
						padding: 0px 16px 0px 12px;
						.icon-taxonomy {
							width: 0px;
							margin-right: 0px;
							@include opacity(0);
						}
						
					}
				}
			}
			.x-taxonomies-term-placeholder {
				background: #fdfdfd;
				font-size: 12px;
				font-weight: bold;
				display: inline-block;
				margin: 0 5px 5px 0;
				line-height: 22px;
				border: 2px dashed #dedede;
				color: #bebebe;
				padding: 0px 14px;
				@include border-radius(3px);
			}
		}
	}
	.x-control-posts {
		.x-posts-selected {
			.x-selected-post, .x-post-placeholder {
				background: #fff;
				border: 1px solid #dedede;
				cursor: move;
				padding: 5px;
				margin-bottom: 10px;
				position: relative;
				@include box-shadow(0 1px 1px rgba(0,0,0,.04));
				@include cf;
				.x-post-image {
					float: left;
					display: inline-block;
					width: 55px;
					height: 55px;
					margin: -5px 10px -5px -5px;
					background: #f1f1f1;
					position: relative;
					.dashicons {
						position: absolute;
						top: 0;
						left: 0;
						height: 55px;
						width: 55px;
						text-align: center;
						line-height: 55px;
						color: #bbb;
					}
					img {
						position: absolute;
						width: 100%;
						top: 0px;
						left: 0px;
						height: 56px;
						width: 56px;
					}
				}
				.x-post-info {
					float: left;
					display: inline-block;
					@include calc( width, '100% - 65px' );
					.x-post-name {
						font-weight: bold;
						line-height: 24px;
						display: block;
						@include ellipsis(nowrap);
						a {
							text-decoration: none;
							color: #444;
							&:active, &:hover { color: #2ea2cc; }
							.untitled { color: #bbb; }
						}
					}
					.x-post-date, .x-post-author { color: #777; cursor: text; }
					.x-post-date:after { margin-right: 5px; content: ','; }
				}
				.x-post-remove {
					position: absolute;
					bottom: 5px;
					right: 0;
					line-height: 24px;
					text-decoration: none;
					display: none;
					background: #fff;
					padding: 0 10px;
				}
				&:hover { .x-post-remove { display: inline-block; } }
			}
			.x-post-placeholder {
				background: #fafafa;
				border: 2px dashed #dedede;
				padding: 4px 5px;
				@include opacity(.5);
				.x-post-image {
					margin-left: -6px;
					img { @include filter( grayscale(100%) ); }
				}
				.x-post-info {
					a { color: #999; .untitled { color: #999; @include opacity(1); } }
					.x-post-name a, .x-post-meta { color: #999; }
				}
			}
		}
	}
	.x-control-link {
		> input {
			margin-right: 5px;
			margin-bottom: 5px;
			width: 50%;
			&:nth-child(even) {
				margin-right: 0;
				@include calc( width, "50% - 5px" );
			}
			&.x-link-url {
				font-family: Consolas,Monaco,monospace;
				direction: ltr;
			}
		}
	}
	.x-control-gallery {
		.x-gallery-shortcode { margin: 0 0 5px; }
		.x-gallery-list {
			margin: 0;
			@include cf;
			li {
				margin: 0 5px 5px 0;
				float: left;
				display: inline;
				max-width: 78px;
				width: 15.66666666666667%;
			}
		}
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		.x-gallery-buttons {
			.x-gallery-edit { margin-right: 5px; }
			.x-gallery-edit, .x-gallery-delete { display: none; }
		}
		.x-gallery-list ~ .x-gallery-buttons {
			.x-gallery-create { display: none; }
			.x-gallery-delete, .x-gallery-edit { display: inline-block; }
		}
	}
	.x-control-image, .x-control-multi-image {
		.x-image-option {
			display: block;
			margin: 0 0 5px 0;
			&:last-child { margin: 0; }
			&.inline {
				display: inline-block;
				margin: 0 5px 5px 0;
				&:last-child { margin: 0; }
			}
			img { border: 1px solid #fff; }
			input {
				display: none;
				&:checked + label {
					border-color: #2ea2cc;
					position: relative;
					img { @include opacity(1); }
					&:before {
						position: absolute;
						top: 0;
						left: 100%;
						float: left;
						display: inline-block;
						vertical-align: middle;
						font: 400 10px/10px dashicons;
						speak: none;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: "\f147";
						width: 10px;
						height: 10px;
						margin: -2px 0 0 -8px;
						background: #2ea2cc;
						color: #fff;
						z-index: 2;
					}
					&:after {
						z-index: 1;
						position: absolute;
						top: 2px;
						left: 100%;
						float: left;
						display: inline-block;
						vertical-align: middle;
						font: 400 9px/9px dashicons;
						speak: none;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: "";
						width: 9px;
						height: 9px;
						margin: -2px 0 0 -9px;
						background: #fff;
					}
				}
			}
			label{
				font-size: 0;
				line-height: 0;
				display: inline-block;
				border: 2px solid #ccc;
				padding: 0;
				img {
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC);
				}
				&:hover img { @include opacity(0.8); }
			}
		}
	}
	.x-control-multi-image {
		input:checked + label:hover:before {
			content: "\f460";
		}
	}
	.x-control-info {
		background: #fefefe;
		color: #444;
		border: 1px solid #ddd;
		padding: 20px;
		@include box-shadow( 0 1px 1px rgba(0, 0, 0, 0.04) );
	}
	.x-control-backup {
		.x-last-backup { font-size: 13px; font-weight: 700; margin: 0 0 10px; }
		.x-restore-button { margin-left: 5px; }
	}
	.x-control-transfer {
		.x-transfer-data { display: block; width: 507px; }
		.x-import-button { margin: 5px 0 0 0; }
	}


	.wp-picker-container {
		display: inline-block;
		position: relative;
		.wp-color-result {
			background: #f1f1f1;
			border: 0;
			cursor: pointer;
			height: 28px;
			margin: 0;
			padding: 0 0 0 28px;
			vertical-align: middle;
			display: inline-block;
			@include border-radius(3px);
			@include box-shadow(inset 0 0 0 2px rgba(0,0,0,.1325));
			@include user-select(none);
			&:after {
				content: attr(title);
				background: rgba(239,239,239,0.8);
				color: #444;
				display: inline-block;
				font-size: 12px;
				line-height: 24px;
				font-weight: bold;
				border: 0;
				height: 24px;
				padding: 0 8px;
				margin: 2px 2px 0 0;
				@include border-radius(0 1.5px 1.5px 0);
				@include box-shadow(-2px 0 0 0 rgba(0,0,0,.1325));
				@include transition(background 0.1s linear);
			}
			&:hover {
			}
			&:hover:after {
				background: rgba(250,250,250,0.8);
			}
			&:focus {
				&:after { }
			}

			&.wp-picker-open {
				&:after { content: attr(data-current); }
				+.wp-picker-input-wrap {
					display: inline-block;
					vertical-align: top;
				}
			}
		}
		.wp-picker-input-wrap {
			margin-left: 5px;
			.wp-picker-default, .wp-picker-clear {
				height: 28px;
				line-height: 28px;
				padding: 0 10px;
				font-size: 12px;
				margin-left: 5px;
			}
		}
		.iris-square-slider .ui-slider-handle:focus { background-color: #555; }
		.iris-picker {
			background: #fafafa;
			border-color: #ccc;
			margin-top: 5px;
			@include border-radius(0);
			position: absolute;
			width: 241px !important;
			z-index: 9999;
			.iris-square { margin-right: 10px; }
			.iris-square, .iris-slider, .iris-square-inner, .iris-palette {
				@include border-radius(0);
				@include box-shadow(inset 0 0 0 2px rgba(0,0,0,.1325));
			}
		}
		input[type=text].wp-color-picker {
			font-size: 12px;
			width: 70px;
			text-align: center;
			&:focus::-webkit-input-placeholder { color: transparent; }
			&:-moz-placeholder { color: #999; }
			&.iris-error { background-color: #fff; border-color: #c00; color: #444; }
		}
	}
	#x-header {
		padding: 10px 20px;
		background-color: #222;
		@include background-image( linear-gradient( transparent, rgba(34,34,34,.9) ), url(../img/congruent_outline.png) );
		@include cf;
		#x-theme-name {
			display: inline-block;
			color: #fff;
			font-weight: bold;
			font-size: 24px;
			line-height: 1;
			margin: 15px 5px 15px 0;
		}
		#x-theme-version {
			color: #666;
			color: rgba(255,255,255,.25);
			font-weight: bold;
		}
		#x-icon {
			float: right;
			margin: 15px 0 0 0;
		}
	}
	#x-top-bar {
		background: #333;
		padding: 7.5px 20px;
		@include cf;
		position: relative;
		@include box-shadow(0 2px 3px rgba(0,0,0,0.15) );
		z-index: 2;
		#x-top-links {
			float: left;
			padding-left: 43px;
			a {
				display: inline-block;
				margin-right: 10px;
				line-height: 28px;
				color: #aaa;
				font-weight: bold;
				text-decoration: none;
				&:hover { color: #2ea2cc; }
				&:last-child { margin-right: 0; }
				.dashicons {
					line-height: 28px;
					height: 28px;
				}
				&#x-layout-toggle {
					position: absolute;
					top: 0;
					left: 0;
					line-height: 43px;
					width: 46px;
					background: rgba(255,255,255,.075);
					text-align: center;
					&:hover { background: rgba(255,255,255,.05); }
					.dashicons {
						line-height: 43px;
						height: 43px;
					}
				}
			}
		}
		#x-top-buttons { float: right; }
	}
	#x-nav {
		float: left;
		width: 160px;
		margin-left: 0;
		z-index: 1;
		@include transition(width 0.2s linear);
		ul { margin: 0; }
		li { margin: 0; }
		a {
			display: block;
			padding: 0 5px 0 15px;
			font-weight: 700;
			font-size: 12px;
			line-height: 36px;
			height: 36px;
			text-decoration: none;
			color: #222;
			text-indent: 0px;
			@include opacity(0.5);
			position: relative;
			.dashicons  {
				display: inline-block;
				width: auto;
				height: 36px;
				font-size: 16px;
				line-height: 36px;
				margin-right: 5px;
			}
			&:hover { @include opacity(1); }
			&:after {
				content: '';
				width: 3px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				background: transparent;
			}
			&.selected {
				background: #fff;
				@include opacity(1);
				@include box-shadow(0 2px 3px rgba(0,0,0,0.05) );
				&:after { background: #fff; }
			}
		}
	}
	#x-main-content {
		background: #fff;
		min-height: 400px;
		margin-left: 160px;
		@include transition(margin 0.2s linear);
		@include box-shadow(-2px 0 3px rgba(0,0,0,0.05) );
	}
	.x-group {
		padding: 20px;
		display: none;
		.x-group-heading {
			border-bottom: 2px solid #f1f1f1;
			margin: 0;
			margin: 0 0 20px;
			padding: 0 0 20px;
			h2 {
				font-size: 16px;
				line-height: 1;
				margin: 0;
			}
			.x-group-desc {
				margin: 10px 0 0 0;
				color: #444;
			}
			h2, .x-group-desc {
				max-width: 700px;
				@include transition(max-width 0.2s linear);
			}
		}
	}
	.x-option {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #f1f1f1;
		@include cf;
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
		.x-desc {
			color: #aaa;
			margin: 10px 0 0;
			&:first-child { margin-top: 0; }
		}
		.x-option-explain {
			float: left;
			display: inline;
			width: 200px;
			.x-option-name {
				display: block;
				font-size: 13px;
				font-weight: bold;
				margin: 0;
				padding: 0;
				color: #444;
				padding-right: 10px;
			}
			.x-desc { margin: 0; padding-right: 10px; &:first-child { margin-top: -5px; } }
		}
		.x-controls {
			float: left;
			display: inline;
			@include calc(width,"100% - 200px");
			max-width: 500px;
			margin: 0;
			@include transition(max-width 0.2s linear);
			&:only-child {
				width: 100%;
				max-width: 700px;
			}
			.x-control-explain {
				margin-bottom: 10px;
				.x-control-name {
					display: block;
					font-size: 13px;
					font-weight: bold;
					color: #444;
				}
				.x-desc { margin: 0; }
			}
			.x-control + .x-control {
				margin-top: 10px;
			}
		}

		&.x-option-text, &.x-option-select, &.x-option-media {
			.x-option-explain .x-option-name {
				padding-top: 5px;
			}
		}
		&.x-option-textarea {
			.x-option-explain .x-option-name {
				padding-top: 6px;
			}
		}
	}
	#x-save-bar {
		background: #e1e1e1;
		padding: 10px 20px;
		height: 28px;
		@include cf;
		@include box-shadow(0 2px 3px rgba(0,0,0,0.15) );
		#x-reset-button, .x-ajax-reset-img { float: left; }
		#x-save-button-bottom, .x-ajax-save-img { float: right; }
	}
	#x-js-warning {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.9);
		color: #bbb;
		font-weight: normal;
		text-align: center;
		padding: 80px 80px;
		margin: 0;
		line-height: 1.5;
		z-index: 9999;
	}
	.x-popup {
		display: none;
		background: rgba(255,255,255,.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		text-align: center;
		.x-popup-message {
			position: absolute;
			background: rgba(0,0,0,.75);
			color: #FFF;
			text-align: center;
			font-size: 1.3em;
			line-height: 1.5;
			background-repeat: no-repeat;
			background-position: 15px 50%;
			padding: 10px 20px 10px 40.5px;
		}
		&#x-popup-save, &#x-popup-reset, &#x-popup-backup {
			.x-popup-message { background-image: url(../img/save-success.png); }
		}
		&#x-popup-error .x-popup-message { background-image: url(../img/save-error.png); }
	}
	.x-ajax-loading-img {
		display: none;
		margin: 5px 5px 0;
	}
	&.x-layout-nav-collapsed {
		#x-nav {
			width: 46px;
			a .x-group-name {
				font-size: 0px;
				text-indent: -9999px;
			}
		}
		#x-main-content { margin-left: 46px; }
		.x-group-heading {
			h2, .x-group-desc {
				max-width: 814px;
			}
		}
		.x-option .x-controls {
			@include calc(width,"100% - 200px");
			max-width: 614px;
			&:only-child {
				width: 100%;
				max-width: 814px;
			}
		}
	}
	&.x-layout-nav-hidden {
		#x-top-bar #x-layout-toggle { color: #2ea2cc; }
		#x-nav {
			width: 0px;
			margin-left: -9999px;
			a  {
				font-size: 0px;
				text-indent: -9999px;
				@include opacity(0);
			}
		}
		#x-main-content { margin-left: 0; }
		.x-group-heading {
			h2, .x-group-desc {
				max-width: 860px;
			}
		}
		.x-option .x-controls {
			@include calc(width,"100% - 200px");
			max-width: 660px;
			&:only-child {
				width: 100%;
				max-width: 860px;
			}
		}
	}
}


@media only screen and (max-width:900px) {}

@media screen and (max-width:782px) {
	#x-container {
		margin: 10px 10px 0 0;
		.button {
			padding-top: 0;
			padding-bottom: 1px;
			font-size: 13px;
			line-height: 26px;
			vertical-align: top;
			height: 28px;
			margin-bottom: 0;
		}
		select {}

		.x-media {
			input {
				@include calc( width, "100% - 96px" ); 
			}
			&.with-media {
				input { @include calc( width, "100% - 131px" ); }
			}
		}

		.x-background {
			.x-media, .wp-picker-container {
				display: block;
				float: none;
				margin-bottom: 5px;
				width: 100%;
			}
			.x-media {
				margin-right: 0;
				max-width: 400px;
			}
		}

		.x-option, &.x-layout-nav-collapsed .x-option, &.x-layout-nav-hidden .x-option {
			.x-option-explain {
				float: none;
				display: block;
				width: 100%;
				max-width: none;
			}
			.x-controls {
				float: none;
				display: block;
				width: 100%;
				max-width: none;
				margin: 10px 0 0 0;
				&:only-child { max-width: none; }
			}

			&.x-option-text, &.x-option-select, &.x-option-slider, &.x-option-textarea {
				.x-option-explain .x-option-name { padding-top: 0; }
			}
		}
	}
}

@media screen and (max-width:480px) {}